

<body>
  <div class="body-wrapper"> 
    <!-- partial:../../partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <app-sidebar></app-sidebar>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content"> 
      <!-- partial:../../partials/_navbar.html -->
   <app-header></app-header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
             <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card"> 
            <div class="mdc-layout-grid__inner">
               <div class="mdc-layout-grid__cell--span-12">
                        <div class="d-flex justify-content-end">
                          <div class="mdchyperlink">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/lessons"class="mdc-button text-button--info"> Content Approvals &nbsp;|</a> 
                  <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/combinevideos" class="mdc-button text-button--info"> Combine Videos &nbsp;|</a>
                   <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/assignment" class="mdc-button text-button--info"> Assignments &nbsp;|</a>
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/assessment_list_view" class="mdc-button text-button--info"> Assessments &nbsp;</a>
                     <!-- <a  class="mdc-button text-button--info"> Assessment  Feedback </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    </div>
                          <a routerLink="/addcourse" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark">
                            <i class="material-icons mdc-button__icon">add</i>
                          </a>
                        </div>
                      </div>
             <div class="mdc-layout-grid__cell--span-12 mt-2">
                        <div class="table table-hoverable table-fixed ">
                          <table mat-table id="example" [dataSource]="rowData" matSort class="mat-elevation-z8">
                    
                            <!-- CourseID Column -->
                            <!-- <ng-container matColumnDef="courseId">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Id </th>
                              <td mat-cell *matCellDef="let element"> {{element.courseId}} </td>
                            </ng-container> -->
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="courseTitle">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name of Course </th>
                              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/view360', element.courseId]">{{element.courseTitle}}</a>  </td>
                            </ng-container>
                          
                            <!-- Purpose Column -->
                            <ng-container matColumnDef="coursePurpose">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header sticky="true"> Purpose of Course </th>
                              <td mat-cell *matCellDef="let element"> {{element.coursePurpose}} </td>
                            </ng-container>
                          
                            <!-- Coverage Column -->
                            <ng-container matColumnDef="courseCoverage">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Coverage of Course </th>
                              <td mat-cell *matCellDef="let element"> {{element.courseCoverage}} </td>
                            </ng-container>
        
                            <!-- eligibility Column -->
                            <ng-container matColumnDef="eligibilityCriteria">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Eligibility Criteria </th>
                                <td mat-cell *matCellDef="let element"> {{element.eligibilityCriteria}} </td>
                              </ng-container>
        
                              <!-- certificate Column -->
                            <ng-container matColumnDef="certificateBenefits">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Certificate Benefits </th>
                                <td mat-cell *matCellDef="let element"> {{element.certificateBenefits}} </td>
                              </ng-container>
        
                              <!-- Fee Column -->
                            <ng-container matColumnDef="courseFee">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fees Details </th>
                                <td mat-cell *matCellDef="let element"> {{element.courseFee}} </td>
                              </ng-container>
                              <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                                <td mat-cell *matCellDef="let element" class="corsorDelete"> 
                                  <span class="material-icons mdc-theme--secondary" (click)="deleteCourse(element.courseId, element.courseTitle )">delete</span>
                                  <!-- <button mat-icon-button [matMenuTriggerFor]="menu"  class="mdc-button mdc-menu-button icon-button shaped-button secondary-filled-button">
                                     
                                  </button> -->
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item class="btn">
                                      <span>Edit</span>
                                    </button>
                                    <button mat-menu-item class="btn" (click)="deleteCourse(element.courseId)">
                                      <span>Delete</span>
                                    </button>
                                    <button mat-menu-item class="btn">
                                      <span>Reload</span>
                                    </button>
                                  </mat-menu>
                                </td>
                              </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                          </table>
                          <div *ngIf="isLoading" class="spinner">
                            <mat-progress-spinner diameter="40"
                              color="primary" 
                              mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                        <mat-paginator [pageSizeOptions]="[50,60,70]" showFirstLastButtons></mat-paginator>
                        </div>
                      </div>
            </div>
                 
                </div>
              </div>
              
            </div>
          </div>
        </main>
        <!-- partial --> 
      </div>
    </div>
  </div>
  
  </body>
  