.btn{
  margin-bottom: -15px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


table{
  width: 100%;
  overflow: auto
  // border-spacing: 0 8px !important;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
  margin-left: 10px;
}

th.mat-header-cell {
  background-color: whitesmoke;
  // / row padding /
  padding: 4px 6px;
  // / row border /
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
 }

.mat-row:nth-child(odd){
    background-color:#ffffff;
}
 
th {
  position: sticky;
  // top: 0; / Don't forget this, required for the stickiness /
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}


.mat-elevation-z8 {
  box-shadow: none;
}

.mat-cell, .mat-footer-cell {
font-size: 12px;
}

th.mat-header-cell:last-child {
text-align: right !important;
width: 50px !important;
}




