<div class="body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <app-sidebar></app-sidebar>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content">
      <!-- partial:partials/_navbar.html -->
    <app-header></app-header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                    <div class="mdc-layout-grid__inner">
                      <form class="form1" [formGroup]="editNewsForm" (ngSubmit)="editNews()" autocomplete="off">
                        <div class="mdc-layout-grid__cell--span-6">  <h6 class="card-title">News </h6></div>
                        <div class="mdc-layout-grid__cell--span-6">
                          <div class="d-flex justify-content-end">
                           <button class="mdc-button mdc-button--raised filled-button--light">  Save </button>&nbsp;&nbsp;&nbsp;
                           <a routerLink="/news" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark"> <i class="material-icons mdc-button__icon">home</i> </a> </div>
                        </div>
                       <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>News Title</mat-label>
                            <input matInput placeholder="News Title" formControlName="newsTitle"
                            [ngClass]="{ 'is-invalid': f.submitted && newsTitle.invalid }" [(ngModel)]="dataById.newsTitle">
                          </mat-form-field>
                          <div *ngIf="submitted && f.newsTitle.errors" class="invalid-feedback">
                            <div class="valid" *ngIf="f.newsTitle.errors.required">News Title is required</div>
                        </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>News Description</mat-label>
                            <textarea matInput placeholder="News Description" [(ngModel)]="dataById.newsText" class="mdctextarea mdc-text-field__input"  
                            formControlName="newsDescription" [ngClass]="{ 'is-invalid': f.submitted && newsDescription.invalid }"></textarea>
                          </mat-form-field>
                          <div *ngIf="submitted && f.newsDescription.errors" class="invalid-feedback">
                            <div class="valid" *ngIf="f.newsDescription.errors.required">News Description is required</div>
                        </div>
                        </div>
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">                        
                         <h4 class="card-title" >News Banner
                         </h4>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <div class="dropzone">
                          <img src="{{dataById.newsImage}}">
                          <input type="file" class="forminput" multiple (change)="selectfile($event)">
                          <p>Drag your files here or click in this area.</p>
                        </div>
                      </div>
                      <!-- <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <button class="mdc-button text-button--info"> Update</button>
                      </div> -->
                      </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- partial:../../partials/_footer.html --> 
        <!--<footer>
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                  <span class="tx-14">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
                </div>
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
                  <div class="d-flex align-items-center">
                    <a href="">Documentation</a>
                    <span class="vertical-divider"></span>
                    <a href="">FAQ</a>
                  </div>
                </div>
              </div>
            </div>
          </footer>--> 
        <!-- partial --> 
      </div>
    </div>
  </div>