.mdctextarea{
    height: 100px;
}
.form1 {
    display: contents;
    }
    

      form p{
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 170px;
        color: black;
        font-family: Arial;
      }
      .forminput{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
      }
    