

  <div class="body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <app-sidebar></app-sidebar>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content">

      <!-- partial:../../partials/_navbar.html -->
      <app-header></app-header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <form class="form1" [formGroup]="uploadAssignmentForm" (ngSubmit)="uploadAssignment()" autocomplete="off">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                  <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-6"><h6 class="card-title">Create Assignment </h6></div>
                    <div class="mdc-layout-grid__cell--span-6">
                      <div class="d-flex justify-content-end"> 
                        <button class="mdc-button mdc-button--raised filled-button--light">
                          Save
                        </button>&nbsp;&nbsp;&nbsp;
                        <a routerLink='/course' class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark">
                            <i class="material-icons mdc-button__icon">home</i>
                          </a>
                    </div>
                 </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                        <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                          <mat-label>Assignment Name</mat-label>
                          <input matInput class="input" maxlength="20" placeholder="Assignment Name" formControlName="assignmentName"
                          [ngClass]="{ 'is-invalid': f.submitted && assignmentName.invalid }">
                        </mat-form-field>
                        <div *ngIf="submitted && f.assignmentName.errors" class="invalid-feedback">
                          <div class="valid" *ngIf="f.assignmentName.errors.required">Assignment Name is required</div>
                      </div>  
                  </div>
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                    <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                      <mat-label>Date of Submission</mat-label>                  
                      <input matInput [matDatepicker]="picker1" placeholder="Date of Submission" formControlName="assignmentDate"
                      [ngClass]="{ 'is-invalid': f.submitted && assignmentDate.invalid }">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                   
                    </mat-form-field>
                    <div *ngIf="submitted && f.assignmentDate.errors" class="invalid-feedback">
                      <div class="valid" *ngIf="f.assignmentDate.errors.required">Date of Submission is required</div>
                  </div>
                  </div>

                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <div class="mdc-select demo-width-class mdc-text-field--fullwidth mdc-text-field--outlined" data-mdc-auto-init="MDCSelect">
                            <mat-form-field >
                              <mat-label>Course</mat-label>
                              <mat-select (selectionChange)="getcourseId($event.value);" disableOptionCentering>
                                <mat-option *ngFor="let data of courseDataList" [value]="data.courseId">{{data.courseName}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                           
                            </div>
                    </div>
                   <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                    <div class="mdc-select demo-width-class mdc-text-field--fullwidth" data-mdc-auto-init="MDCSelect">
                        <mat-form-field>
                          <mat-label>Topic</mat-label>
                          <mat-select (selectionChange)="gettopicId($event.value);" disableOptionCentering>
                            <mat-option *ngFor="let topic of topicDataList" [value]="topic.topicId">{{topic.topicName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                      <ckeditor 
                        [data]="editorData"
                        [editor]="Editor"
                        [disabled]="isDisabled"  
                        formControlName="descrip"    
                        id="classic-editor"
                        name="classic-editor"
                        (ready)="onReady($event)"
                        (change)="onChange($event)"
                        (focus)="onFocus($event)"
                        (blur)="onBlur($event)">
                      </ckeditor>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                     	<div class="file-input">
                          <input type="file" (change)="selectFile($event)" formControlName="assignmentsFile" [ngClass]="{ 'is-invalid': f.submitted && assignmentsFile.invalid }">
                          <span class="mdc-button mdc-button--raised filled-button--light">Uploads Assignments</span>
                          <!-- <label class="label" data-js-label>No file selected </label> -->
                        </div>  
                        <div *ngIf="submitted && f.assignmentsFile.errors" class="invalid-feedback">
                          <div class="valid" *ngIf="f.assignmentsFile.errors.required">Uploads Assignments is required</div>
                      </div> 

                    </div>
                  </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </main>
        <!-- partial -->
      </div>
    </div>
  </div>

  
  
 