
<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
    <app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <form class="form1" [formGroup]="assessementForm" (ngSubmit)="addAssessment()" autocomplete="off">
           <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card"> 
				  <div class="mdc-layout-grid__inner">
					  <div class="mdc-layout-grid__cell--span-6"><h6 class="card-title"> </h6></div>
                    <div class="mdc-layout-grid__cell--span-6">
              <div class="d-flex justify-content-end"> 
             <button class="mdc-button mdc-button--raised filled-button--light">
                      Save
                    </button>&nbsp;&nbsp;&nbsp;
                    <a routerLink='/assessment_list_view' class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark">
                        <i class="material-icons mdc-button__icon">home</i>
                      </a>
              </div>
            </div>
                   <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                   
                      <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                        <mat-label>Assessment  Name</mat-label>
                        <input matInput class="input" maxlength="20" placeholder="Answer"
                        formControlName="assessmentName" [ngClass]="{ 'is-invalid': f.submitted && assessmentName.invalid }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.assessmentName.errors" class="invalid-feedback">
                        <div class="valid" *ngIf="f.assessmentName.errors.required">Assessment Name is required</div>
                    </div>
                    </div>
               <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">

                    <mat-form-field >
                        <mat-label>Course</mat-label>
                        <mat-select (selectionChange)="getcourseId($event.value);" disableOptionCentering>
                          <mat-option *ngFor="let data of courseDataList" [value]="data.courseId">{{data.courseName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                   
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                      <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                        <mat-label>Minimum Pass Score</mat-label>
                        <input matInput class="input" maxlength="5" placeholder="Minimum Pass Score"
                        formControlName="minimumPassScore" (keydown)="numberonly($event)" [ngClass]="{ 'is-invalid': f.submitted && minimumPassScore.invalid }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.minimumPassScore.errors" class="invalid-feedback">
                        <div class="valid" *ngIf="f.minimumPassScore.errors.required">Minimum Pass Score is required</div>
                    </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
           
                      <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                        <mat-label>Total Mark</mat-label>
                        <input matInput class="input" maxlength="5" placeholder="Total Mark"
                        formControlName="totalMark" (keydown)="numberonly($event)" [ngClass]="{ 'is-invalid': f.submitted && totalMark.invalid }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.totalMark.errors" class="invalid-feedback">
                        <div class="valid" *ngIf="f.totalMark.errors.required">Total Mark is required</div>
                    </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                 
                      <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                        <mat-label>Total Question</mat-label>
                        <input matInput class="input" maxlength="3" placeholder="Total Question"
                        formControlName="totalQuestion" (keydown)="numberonly($event)" [ngClass]="{ 'is-invalid': f.submitted && totalQuestion.invalid }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.totalQuestion.errors" class="invalid-feedback">
                        <div class="valid" *ngIf="f.totalQuestion.errors.required">Total Question is required</div>
                    </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                  
                      <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                        <mat-label> Total Test Time </mat-label>
                        <input matInput class="input" maxlength="20" placeholder="Total Test Time"
                        formControlName="totalTestTime" [ngClass]="{ 'is-invalid': f.submitted && totalTestTime.invalid }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.totalTestTime.errors" class="invalid-feedback">
                        <div class="valid" *ngIf="f.totalTestTime.errors.required">Total Test Time is required</div>
                    </div>
                    </div>
                  
                  </div>
               
              </div>
            </div>
            </form>
          </div>
        </div>
      </main>
      <!-- partial --> 
    </div>
  </div>
</div>

