<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header">
      <a routerLink="/myCourses" class="brand-logo"> LMS
   <img src="../assets/images/logo-2.png" alt="logo">
      </a>
    </div>
    <div class="mdc-drawer__content">
      <div class="mdc-list-group">
        <nav class="mdc-list mdc-drawer-menu">
         <div class="mdc-list-item mdc-drawer-item">
          <a class="mdc-drawer-link" routerLink="/myCourses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            My Courses  
         </a>
          </div>      
           <div class="mdc-list-item mdc-drawer-item sidebartopbdr mt-4"> <a class="mdc-expansion-panel-link"  onclick="toggle_visibility('sample-page-submenu');" data-toggle="expansionPanel" data-target="sample-page-submenu"> <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">feedback</i> Other Courses <i class="mdc-drawer-arrow material-icons">chevron_right</i> </a>
            <div class="mdc-expansion-panel" id="sample-page-submenu">
              <div class="mdc-list-item mdc-drawer-item mdc-top-app-bar">
                <form class="search">
                  <div class="a-field search__field">
                    <input type="teogxt" class="r-text-field" placeholder="Search..">
                  </div>
                </form>
              </div>
              <nav class="mdc-list mdc-drawer-submenu">
                <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/assessment"> Course - 1 </a> </div>
                <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" > Course - 2 </a> </div>
                <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" > Course - 3 </a> </div>
                <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" > Course - 4 </a> </div>
               
              </nav>
            </div>
          </div>
        </nav>
      </div> 
    </div>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
    <app-userheader></app-userheader>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper faq">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner"> 
            
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="mdc-layout-grid__cell--span-12">
                  <div class="d-flex justify-content-end">
                  <a routerLink="/assignmetList" class="mdc-button mdc-button--outlined mdc-ripple-upgraded outlined-button--info">
                          Assignments
                        </a>&nbsp;&nbsp;&nbsp;
                      <a routerLink="/myCourses" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark"> <i class="material-icons mdc-button__icon">home</i> </a> 
                  </div>
                </div>
                <div class="faq-section mt-3">
                  <div class="bg-light py-2 px-4">
                    <h5 class="mb-0 text-dark">{{courseDetail.courseTitle}}</h5>
                  </div>
                  <!-- <form class="form1" [formGroup]="registerForm" autocomplete="off"> -->

                    <div class="mdc-layout-grid__inner mt-3">
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                      <div class="mdc-text-field mdc-text-field--outlined">
                          <!-- <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline"> -->
                              <mat-label>&nbsp;&nbsp;&nbsp; 10/07/2020</mat-label>
                              <!-- <input matInput class="input" maxlength="20" placeholder="Course Start Date"
                              value="2020/209" readonly> -->
                          <!-- </mat-form-field> -->
                        </div></div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">

                        <!-- <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline"> -->
                          <mat-label> &nbsp;&nbsp;&nbsp;  {{courseDetail.narration}}</mat-label>
                          <!-- <textarea matInput placeholder="Description" class="mdc-text-field__input"
                          value="{{courseDetail.narration}}" readonly></textarea> -->
                        <!-- </mat-form-field> -->

                   <!-- <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined"> <span class="mdc-text-field__resizer">
                     <textarea class="mdc-text-field__input" aria-labelledby="my-label-id" rows="5" cols="190"></textarea>
                     </span> <span class="mdc-notched-outline"> <span class="mdc-notched-outline__leading"></span> <span class="mdc-notched-outline__notch"> <span class="mdc-floating-label" id="my-label-id">Course Description </span> </span> <span class="mdc-notched-outline__trailing"></span> </span> </label> -->
                 </div>
                </div>
    
                  <!-- </form> -->
                  <div id="expansionpanel-1" class="expansion-panel" *ngFor= "let topic of topics">
                    <div class="card  mt-3">
                      <div class="expansion-panel-header" id="headingOne">
                        <h5 class="mb-0"> <a class="mdc-expansion-panel-link" onclick="toggle_visibility('collapseOne');">{{topic.topicName}}</a> </h5>
                      </div>
                      <div class="mdc-expansion-panel" id="collapseOne" >
                        <div class="mdc-layout-grid__inner">
                          <div class="mdc-layout-grid__cell--span-12">
                           
                                <mat-accordion class="example-headers-align" multi>
                                  <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        Lectures
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="answermain" *ngFor="let lect of topic.lectures">
                                      <div class="anspart1">
                                        <p>{{lect.fileName}}</p> 
                                      </div>
                                      <div class="anspart2">
                                        <p> <span class="material-icons">play_circle_filled</span><span>20:14</span> &nbsp; &nbsp;<span class="text-muted">{{lect.fileName}}</span></p>
                                      </div>
                                    </div> 
                                  </mat-expansion-panel>
                                  
                                  <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        Text
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="answermain" *ngFor="let texts of topic.texts">
                                      <div class="anspart1">
                                        <p>{{texts.fileName}}</p> 
                                      </div>
                                      <div class="anspart2">
                                        <p> <span class="material-icons">play_circle_filled</span><span>20:14</span> &nbsp; &nbsp;<span class="text-muted">{{texts.fileName}}</span></p>
                                      </div>
                                    </div> 
                                  </mat-expansion-panel>  

                                  <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        PPT
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="answermain" *ngFor="let ppts of topic.ppts">
                                      <div class="anspart1">
                                        <p>{{ppts.fileName}}</p> 
                                      </div>
                                      <div class="anspart2">
                                        <p> <span class="material-icons">play_circle_filled</span><span>20:14</span> &nbsp; &nbsp;<span class="text-muted">{{ppts.fileName}}</span></p>
                                      </div>
                                    </div> 
                                  </mat-expansion-panel>  

                                  <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        PDF
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="answermain" *ngFor="let pdf of topic.pdfs">
                                      <div class="anspart1">
                                        <p>{{pdf.fileName}}</p> 
                                      </div>
                                      <div class="anspart2">
                                        <p> <span class="material-icons">play_circle_filled</span><span>20:14</span> &nbsp; &nbsp;<span class="text-muted">{{pdf.fileName}}</span></p>
                                      </div>
                                    </div> 
                                  </mat-expansion-panel>  
                              </mat-accordion>
                          
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </main>
      <!-- partial:../../partials/_footer.html --> 
      <!--<app-userfooter></app-userfooter>--> 
      <!-- partial --> 
    </div>
  </div>
</div>
