<footer id="footers">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
          <!-- <span class="tx-14">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span> -->
        </div>
        <!-- <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
          <div class="d-flex align-items-center">
            <a href="">Documentation</a>
            <span class="vertical-divider"></span>
            <a href="">FAQ</a>
          </div>
        </div> -->
      </div>
    </div>
</footer>