<div class="mdc-drawer__header"> <a class="brand-logo">  
  <img src="../assets/images/logo-2.png" alt="logo"> 
   </a> </div>
 <div class="mdc-drawer__content">
   <div class="mdc-list-group">
     <nav class="mdc-list mdc-drawer-menu">
       <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard" title="List View"> <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Dashboard </a> </div>
   <!-- <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/course"> <span class="material-icons">import_contacts</span> &nbsp; My Course</a> </div> -->
   <!-- <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/assessment">< span class="material-icons">playlist_add_check</span> &nbsp; Assessment</a> </div> -->
   
     </nav>
   </div>
 </div>