<div class="body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content">
    <!-- partial:partials/_navbar.html -->
  <app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust"> 
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6"></div>
            <div class="mdc-layout-grid__cell--span-6">
              <div class="d-flex justify-content-end"> <a routerLink="/addnews" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark"> <i class="material-icons mdc-button__icon">add</i>  </a> </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell mdc-layout-grid__cell--span-3-tablet" *ngFor= "let newsRes of allNews ">
                <div class="mdc-card p-0"> <img class="card-img-top imgsize" src="{{newsRes.newsImage}}" alt="Card image cap">
                  <div class="mdc-card-body p-3">
                    <div class="d-flex justify-content-end"> <a [routerLink]="['/editnews', newsRes.newsId]" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--light lightbtn-cion"> <i class="material-icons mdc-button__icon mdc-theme--dark">edit</i> </a> &nbsp;&nbsp;&nbsp;
                      <button (click)="deleteNews(newsRes.newsId)" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--light lightbtn-cion"> <i class="material-icons mdc-button__icon mdc-theme--secondary">delete</i> </button>
                    </div>
                    <h4 class="mdc-card-title">{{newsRes.newsTitle.slice(0, 10)}}
                      <span id="dot{{newsRes.newsId}}">...</span>
                      <span class="more" id="mores{{newsRes.newsId}}">
                      {{newsRes.newsTitle.slice(10, 10000)}}</span>
                    </h4>
                    <p>{{newsRes.newsText.slice(0,10)}}
                      <span id="dots{{newsRes.newsId}}">...</span>
                      <span class="more" id="more{{newsRes.newsId}}">
                        {{newsRes.newsText.slice(10, 10000)}}</span>
                      </p>
                    <a class="readmore" (click)="myFunction(newsRes.newsId)" id="myBtn{{newsRes.newsId}}">Read more</a>
                  </div>
                </div>
              </div>
          
            </div>
          </div>
        </main>
        <!-- partial --> 
      </div>
    </div>
  </div>