<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
      <app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="table-responsive-lg">
                  <mat-form-field>
                      <mat-label>Filter</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                    </mat-form-field>
                    
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> Animesh Singh </td>
                      </ng-container>
                    
                      <!-- Courses Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name of Courses</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                    
                      <!-- Ammount Column -->
                      <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                      </ng-container>
                    
                      <!-- Email Column -->
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email Address </th>
                        <td mat-cell *matCellDef="let element"> animesh@gmail.com </td>
                      </ng-container>

                         <!-- Mobile Column -->
                      <ng-container matColumnDef="Mobile">
                          <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
                          <td mat-cell *matCellDef="let element"> 9036558444 </td>
                        </ng-container>

                        <!-- status Column -->
                        <ng-container matColumnDef="status">
                           <th mat-header-cell *matHeaderCellDef> Status </th>
                           <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                         </ng-container>

                         <!-- Email Column -->
                      <ng-container matColumnDef="action">
                          <th class="text-center" mat-header-cell *matHeaderCellDef> Action </th>
                          <td class="text-center" mat-cell *matCellDef="let element"> 
                            <a class="item-subject font-weight-normal" data-toggle="dialog" target-dialog="mdc-dialog-default"> Admission </a>
                            </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </main>
      <!-- partial -->
    </div>
  </div>
</div>