.answer {
  margin-left: 10%;
}

mat-expansion-panel-header:hover{
  background-color: whitesmoke;
}

.mat-expansion-panel-header-description {
  flex-grow: 10;
  color: black;
}

.answermain{
display: flex;
}

.anspart1{
  flex: 20%;
}

.anspart2{
  flex: 50%;
}
