<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
    <app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper faq">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12">
              <div class="panel panel-success">
                <!-- <div class="panel-heading">
                  <div class="pull-leftactivity">
                    <h3 class="panel-title">Test</h3>
                  </div>
                </div> -->
                <div class="panel-body">
                  <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <div class="form-group testheading">
                        <label>Assessment Name:</label>
                        <span id="" class="testname"> &nbsp;{{responseData.assissmentName}}</span> </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <div class="form-group testheading">
                        <label>Course:</label>
                        <span id="" class="testname"> &nbsp;{{responseData.courseName}}</span> </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <div class="form-group testheading">
                        <label>Minimum Pass Score:</label>
                        <span id="" class="testname"> &nbsp;{{responseData.minimumPassScore}}</span> </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <div class="form-group testheading">
                        <label>Total Mark:</label>
                        <span id="" class="testname"> &nbsp;{{responseData.totalMark}}</span> </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <div class="form-group testheading">
                        <label>Total Question:</label>
                        <span id="" class="testname"> &nbsp;{{responseData.totalQuestion}}</span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell--span-12">
              <div class="panel panel-success">
                <div class="panel-heading" style="height: 24px;">
                  <div class="pull-left">
                    <h3 class="panel-title">Questions/Answers</h3>
                  </div>
                  <div class="pull-right">
                    <div class="d-flex justify-content-end"> <a [routerLink]="['/add_question_ans', assessmentId]" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark"> <i class="material-icons mdc-button__icon">add</i> </a> </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-12">
                      <div class="table-responsive-lg tabletests">
                        <!-- <table class="table table-hoverable table-q">
                          <tr class="header-ans">
                            <th class="text-center" style="width: 60px; height:50px;">SN.</th>
                            <th colspan="2" style="text-align: left;">Questions</th>
                          </tr>
                          <tr class="header-ans" *ngFor = "let questions of questionDtos">
                            <td class="text-center">{{questions.questionId}}</td>
                            <td colspan="2" class="plus-coll"><span class="qust-cl">{{questions.questionDescription}}</span></td>
                          </tr>
                          <tr style="background-color: #f9f9f9;">
                            <td></td>
                            <td> A) Object-oriented</td>
                            <td>C) Inheritance</td>
                            <td></td>
                          </tr>
                          <tr style="background-color: #f9f9f9;">
                            <td></td>
                            <td>B) Encapsulation</td>
                            <td>D) Polymorphism</td>
                            <td></td>
                          </tr>
                        </table> -->
                        <!-- <div class="mdc-layout-grid__cell--span-12" >
                          <button class="accordhead"><h6>SN. <span class="Question">Questions</span></h6></button>
                          <button class="accordion" *ngFor = "let questions of questionDtos" (click)="opnanswer()"><p class="accord">{{questions.questionId}} <span class="Question">{{questions.questionDescription}}</span></p></button>
                          <div style="background: whitesmoke;" *ngIf="ansers">
                              aaaaaaaaaaaaaaaa
                          </div>
                        </div> -->
                        <mat-accordion class="example-headers-align" multi>
                          <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false" *ngFor = "let questions of questionDtos">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{questions.questionId}}
                              </mat-panel-title>
                              <mat-panel-description>
                                {{questions.questionDescription}}
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="answermain">
                              <div class="anspart1">
                                <p class="answer">A) Object-oriented</p> 
                                <p class="answer">C) Inheritance</p> 
                              </div>
                              <div class="anspart2">
                                <p class="answer">B) Encapsulationd</p>
                                <p class="answer">D) Polymorphism</p>
                              </div>
                            </div> 
                          </mat-expansion-panel>          
                      </mat-accordion>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
