

<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <app-sidebar></app-sidebar>
    </aside>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
<app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <form class="form1" [formGroup]="registerForm" (ngSubmit)="postCourse()" autocomplete="off">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <!-- <div class="template-demo23">
                  <div class="mdc-layout-grid__inner"> -->
                   
					  <div class="mdc-layout-grid__cell--span-6"><h6 class="card-title">Course Details </h6></div>
                  <div class="mdc-layout-grid__cell--span-6">
						<div class="d-flex justify-content-end">
					 <button class="mdc-button mdc-button--raised filled-button--light">
                      Save
                    </button>
						&nbsp;&nbsp;
						<a routerLink="/course" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark" title="Back">
                            <i class="material-icons mdc-button__icon">home</i>
                          </a>
						</div>
            </div>
            
                <div class="mdc-card">
                  
                  <!-- <div class="template-demo"> -->
                    
                    <div class="mdc-layout-grid__inner mt-3">
                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                            <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                              <mat-label>Name of Course</mat-label>
                              <input matInput class="input" maxlength="20" placeholder="Name of Course" formControlName="courseTitle" 
                              [ngClass]="{ 'is-invalid': f.submitted && courseTitle.invalid }">
                            </mat-form-field>
                            <div *ngIf="submitted && f.courseTitle.errors" class="invalid-feedback">
                              <div class="valid" *ngIf="f.courseTitle.errors.required">Name of Course is required</div>
                          </div>
                      </div>
                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                          <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>Purpose of Course</mat-label>
                            <input matInput class="input" placeholder="Purpose of Course" formControlName="coursePurpose"
                            [ngClass]="{ 'is-invalid': f.submitted && coursePurpose.invalid }">
                          </mat-form-field>
                          <div *ngIf="submitted && f.coursePurpose.errors" class="invalid-feedback">
                            <div class="valid" *ngIf="f.coursePurpose.errors.required">Purpose of Course is required</div>
                        </div>
                      </div>

                       <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop"> 
                          <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>Learning Objective</mat-label>
                            <input matInput class="input" placeholder="Learning Objective" formControlName="objective"
                            [ngClass]="{ 'is-invalid': f.submitted && objective.invalid }">
                          </mat-form-field>
                          <div *ngIf="submitted && f.objective.errors" class="invalid-feedback">
                            <div class="valid" *ngIf="f.objective.errors.required">Learning Objective is required</div>
                        </div>
                        </div>
                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                          <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>Eligibility Criteria (if any)</mat-label>
                            <input matInput class="input" placeholder="Eligibility Criteria (if any)" formControlName="eligibilityCriteria"
                            [ngClass]="{ 'is-invalid': f.submitted && eligibilityCriteria.invalid }">
                          </mat-form-field>
                          <div *ngIf="submitted && f.eligibilityCriteria.errors" class="invalid-feedback">
                            <div class="valid" *ngIf="f.eligibilityCriteria.errors.required">Eligibility Criteria is required</div>
                        </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                          <mat-label>Duration</mat-label>
                          <input matInput class="input" placeholder="Duration" formControlName="duration"
                          [ngClass]="{ 'is-invalid': f.submitted && duration.invalid }">
                        </mat-form-field>
                        <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                          <div class="valid" *ngIf="f.duration.errors.required">Duration is required</div>
                      </div>
                      </div>
                     <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                          <mat-label>Course Extension</mat-label>
                          <input matInput class="input" placeholder="Course Extension" formControlName="extension"
                          [ngClass]="{ 'is-invalid': f.submitted && extension.invalid }">
                        </mat-form-field>
                        <div *ngIf="submitted && f.extension.errors" class="invalid-feedback">
                          <div class="valid" *ngIf="f.extension.errors.required">Course Extension is required</div>
                      </div>
                      </div>

                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                        <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                          <mat-label>Narration</mat-label>
                          <textarea matInput placeholder="Narration" class="mdc-text-field__input" 
                          formControlName="narration" [ngClass]="{ 'is-invalid': f.submitted && narration.invalid }"></textarea>
                        </mat-form-field>
                        <div *ngIf="submitted && f.narration.errors" class="invalid-feedback">
                          <div class="valid" *ngIf="f.narration.errors.required">Benefits Certification is required</div>
                      </div>
                      </div>
                      
                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                          <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>Benefits of the Certification</mat-label>
                            <textarea matInput placeholder="Benefits of the Certification" class="mdc-text-field__input" 
                            formControlName="certificateBenefits" [ngClass]="{ 'is-invalid': f.submitted && certificateBenefits.invalid }"></textarea>
                          </mat-form-field>
                          <div *ngIf="submitted && f.certificateBenefits.errors" class="invalid-feedback">
                            <div class="valid" *ngIf="f.certificateBenefits.errors.required">Benefits Certification is required</div>
                        </div>
                        </div>
                       <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                          <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>Coverage of Course</mat-label>
                            <textarea matInput placeholder="Coverage of Course" class="mdc-text-field__input" 
                            formControlName="courseCoverage" [ngClass]="{ 'is-invalid': f.submitted && courseCoverage.invalid }"></textarea>
                          </mat-form-field>
                          <div *ngIf="submitted && f.courseCoverage.errors" class="invalid-feedback">
                            <div class="valid" *ngIf="f.courseCoverage.errors.required">Coverage of Course is required</div>
                        </div>
                        </div>

                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                        <div class="file-input">
                      <input type="file" (change)="selectimage($event)" formControlName="courseImage" [ngClass]="{ 'is-invalid': f.submitted && courseImage.invalid }">
                      <span class="mdc-button mdc-button--raised filled-button--light">Course Image</span>
                      <!-- <label class="label" data-js-label>No file selected </label> -->
                      <label>{{images.name}}</label>
                    </div> 
                    <div *ngIf="submitted && f.courseImage.errors" class="invalid-feedback">
                      <div class="valid" *ngIf="f.courseImage.errors.required">Course Image is required</div>
                  </div>    
                     </div>
                      <div class="mdc-layout-grid__cell--span-6">
                        <div class="file-input">
                        <input type="file" (change)="selectFile($event)" formControlName="courseCertificate" [ngClass]="{ 'is-invalid': f.submitted && courseCertificate.invalid }">
                        <span class="mdc-button mdc-button--raised filled-button--light">Upload Sample Certificate</span>
                        <label>{{file.name}}</label>

                      </div>  
                      <div *ngIf="submitted && f.courseCertificate.errors" class="invalid-feedback">
                        <div class="valid" *ngIf="f.courseCertificate.errors.required">Certificate is required</div>
                    </div>   
                     </div>         
                    </div>
                  <!-- </div> -->
                </div>
           
                    
                  <!-- </div>
                </div> -->
              </div>
            </div>
            </form>
            <div *ngIf="isVisible" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="template-demo widget-file-container">
                  <div class="mdc-layout-grid__inner mt-2">
                   <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop"><h6 class="card-title"> Decide  Topics  </h6>
                     </div>
                    <div class="mdc-layout-grid__cell--span-6-desktop">
                          <div class="d-flex justify-content-end">
                              
                          <a class="mdc-button mdc-button--raised icon-button shaped-button secondary-filled-button" (click)="filedInc('data')">
                            <i class="material-icons mdc-button__icon">add</i>
                          </a>
                         
                          </div>
                      </div>
                     <!-- <div class="mdc-layout-grid__cell--span-12-desktop border-bt"></div>-->
                    <div class="mdc-layout-grid__cell--span-12-desktop">
                      
                    <div class="table-responsive-lg">
                      <form [formGroup]="tableForm">

                    <table class="table" id="tab_logic">
                      <thead>
                        <span>
                        <tr>
                          <th>Topic Name </th>
                          <th>Description</th>
                          <th class="text-center">Action</th>
                          <th class="text-center">Add Content</th>
                        </tr>
                      </span>
                      </thead>
                      <tbody>
                       
                        <span *ngIf="showtable">
                          <tr *ngFor="let users of list">
                            <td><input value="{{users.topic}}" name='topicname' type='text' placeholder='Topic' class='form-control input-md' required/>{{errormessage}}</td>
                            <td><input value="{{users.description}}" name='name' type='text' placeholder='Description' class='form-control input-md' required/> </td>
                            <td class="text-center"> <button (click)="postTopic()" class="mdc-button text-button--success"> Save</button> </td>
                            <td class="text-center"><button class="mdc-button text-button--info uploadbtn" onclick="document.getElementById('id01').style.display='block'"> <span class="material-icons">publish</span></button></td>
                          </tr>
                        </span>
                        <span *ngIf="shtable">
                        <tr *ngFor="let user of i">
                    
                          <td><input formControlName="topicname" name='topicname' type='text' placeholder='Topic' class='form-control input-md' required/>{{errormessage}}</td>
                          <td><input formControlName="topicDescrip" name='name' type='text' placeholder='Description' class='form-control input-md' required/> </td>

                          <td class="text-center"> <button (click)="postTopic()" class="mdc-button text-button--success"> Save</button> </td>
                          <td class="text-center"><button class="mdc-button text-button--info uploadbtn" onclick="document.getElementById('id01').style.display='block'"> <span class="material-icons">publish</span></button></td>
                        </tr>
                        </span>
                      </tbody>
                    </table>
                    </form>
                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>         
            
          </div>
        </div>
      </main>
     
      
    </div>
  </div>
</div>
<div id="id01" class="modal">
  <form class="modal-content animate">
    <div class="mdc-dialog__surface">
      <header class="mdc-dialog__title">
        <h3 id="mdc-dialog-default-label" class="mdc-dialog__header__title"> Upload File </h3>
      </header>
      <section id="mdc-dialog-default-description" class="mdc-dialog__content">
        <div class="mdc-layout-grid">
          <form>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop">
                      <div class="mdc-form-field">
                        <div class="mdc-radio">
                          <input class="mdc-radio__native-control" type="radio" (click)="fileType('Ebook')" id="radio-1" name="radios" checked>
                          <div class="mdc-radio__background">
                            <div class="mdc-radio__outer-circle"></div>
                            <div class="mdc-radio__inner-circle"></div>
                          </div>
                          <div class="mdc-radio__ripple"></div>
                        </div>
                        <label for="radio-1">EBooks</label>
                      </div>
                      <div class="mdc-form-field">
                        <div class="mdc-radio">
                          <input class="mdc-radio__native-control" type="radio" (click)="fileType('PPT')" id="radio-1" name="radios" >
                          <div class="mdc-radio__background">
                            <div class="mdc-radio__outer-circle"></div>
                            <div class="mdc-radio__inner-circle"></div>
                          </div>
                          <div class="mdc-radio__ripple"></div>
                        </div>
                        <label for="radio-2">PPT</label>
                      </div>
                      <div class="mdc-form-field">
                        <div class="mdc-radio">
                          <input class="mdc-radio__native-control" type="radio" (click)="fileType('PDF')" id="radio-1" name="radios" >
                          <div class="mdc-radio__background">
                            <div class="mdc-radio__outer-circle"></div>
                            <div class="mdc-radio__inner-circle"></div>
                          </div>
                          <div class="mdc-radio__ripple"></div>
                        </div>
                        <label for="radio-3">PDF</label>
                      </div>
                      <div class="mdc-form-field">
                        <div class="mdc-radio">
                          <input class="mdc-radio__native-control" type="radio" (click)="fileType('Videos')" id="radio-1" name="radios" >
                          <div class="mdc-radio__background">
                            <div class="mdc-radio__outer-circle"></div>
                            <div class="mdc-radio__inner-circle"></div>
                          </div>
                          <div class="mdc-radio__ripple"></div>
                        </div>
                        <label for="radio-4">Videos</label>
                      </div>
                    </div>
            
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="dropzone" >
                  <input type="file" (change)="selectCont($event)" multiple="multiple">
                  <br>
                  <!-- <input type="file" (change)="selectCont($event)" >
                  <span class="mdc-button mdc-button--raised filled-button--light">Choose File</span>
                  <label>{{contFile.name}}</label> -->

                  <!-- <span [innerHTML]="contFile"></span> -->
                </div>
             </div>
          </div>
        </form>
        </div>
      </section>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" onclick="document.getElementById('id01').style.display='none'"> <span class="mdc-button__label">Decline</span> </button>
        <button type="button" class="mdc-button mdc-dialog__button" (click)="postContent()" > <span class="mdc-button__label">Accept</span> </button>
      </footer>
    </div>
  </form>
</div>


