.fileZone{
  padding: 40px 0px 0px 20px;
}

// input Size
.input
{
height: 20px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 30%; /* Could be more or less, depending on screen size */
}

.form1 {
display: contents;
}

.invalid-feedback{
color: rgb(252, 31, 31);
// margin-top: 10px;
}

// /Modal Content/Box /
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; // 5% from the top, 15% from the bottom and centered /
  border: 1px solid #888;
  width: 30%;  //Could be more or less, depending on screen size /
  }
  
  .form1 {
  display: contents;
  }

  .table thead tr th {
    padding: 10px 95px;
  }
  
  .table tbody tr td {
    padding-left: 91px;
  }
  
.uploadbtn{

  margin-left: 85px;
}
  
.mdc-card{
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.09);
}