<div class="body-wrapper">
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content">

    <!-- partial:../../partials/_navbar.html -->
    <app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <form class="form1" [formGroup]="assessmentForm" autocomplete="off">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="mdc-layout-grid__cell--span-12">
                  <div class="d-flex justify-content-end"> 
                 <button class="mdc-button mdc-button--raised filled-button--light">
                          Save
                        </button>&nbsp;&nbsp;&nbsp;
                        <a routerLink='/course' class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark">
                            <i class="material-icons mdc-button__icon">home</i>
                          </a>
                  </div>
                </div>
         
              <h6 class="card-title">Create Assessment </h6>
                <div class="mdc-layout-grid__inner mt-3">
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                      <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                        <mat-label>Assessment Name</mat-label>
                        <input matInput class="input" maxlength="20" placeholder="Assessment Name"
                        formControlName="assessmentName" [ngClass]="{ 'is-invalid': f.submitted && assessmentName.invalid }">
                      </mat-form-field>
                      <div *ngIf="submitted && f.assessmentName.errors" class="invalid-feedback">
                        <div class="valid" *ngIf="f.assessmentName.errors.required">Assessment Name is required</div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                  <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                    <mat-label>Last Date of Submission</mat-label>
                    <input matInput class="input" maxlength="20" placeholder="Last Date of Submission"
                    formControlName="lastDateOfSubmission"
                      [ngClass]="{ 'is-invalid': f.submitted && lastDateOfSubmission.invalid }">
                  </mat-form-field>
                  <div *ngIf="submitted && f.lastDateOfSubmission.errors" class="invalid-feedback">
                    <div class="valid" *ngIf="f.lastDateOfSubmission.errors.required">Last Date of Submission is required</div>
                </div>
                </div>

                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                      <div class="mdc-select demo-width-class mdc-text-field--fullwidth mdc-text-field--outlined" data-mdc-auto-init="MDCSelect">
                          <mat-form-field >
                            <mat-label>Course</mat-label>
                            <mat-select disableOptionCentering>
                              <mat-option [value]="1">Course  -1</mat-option>
                              <mat-option [value]="2">Course  -2</mat-option>
                              <mat-option [value]="3">Course  -3</mat-option>
                            </mat-select>
                          </mat-form-field>
                          </div>
                  </div>
                 <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                  <div class="mdc-select demo-width-class mdc-text-field--fullwidth" data-mdc-auto-init="MDCSelect">
                      <mat-form-field>
                        <mat-label>Topic</mat-label>
                        <mat-select disableOptionCentering>
                          <mat-option [value]="1">Topic  -1</mat-option>
                          <mat-option [value]="2">Topic  -2</mat-option>
                          <mat-option [value]="3">Topic  -3</mat-option>
                        </mat-select>
                      </mat-form-field>
                      </div>
                  </div>
                  
                  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                    <ckeditor formControlName="description"
                      [data]="editorData"
                      [editor]="Editor"
                      [disabled]="isDisabled"
                      
                      id="classic-editor"
                      name="classic-editor"
                      (ready)="onReady($event)"
                      (change)="onChange($event)"
                      (focus)="onFocus($event)"
                      (blur)="onBlur($event)">
                    </ckeditor>
                  </div>
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                     <div class="file-input">
                      <input type="file" formControlName="uploadAssessment" [ngClass]="{ 'is-invalid': f.submitted && uploadAssessment.invalid }">
                      <span class="mdc-button mdc-button--raised filled-button--light">Uploads Assessment</span>
                      <!-- <label class="label" data-js-label>No file selected </label> -->
                      </div>     
                      <div *ngIf="submitted && f.uploadAssessment.errors" class="invalid-feedback">
                        <div class="valid" *ngIf="f.uploadAssessment.errors.required">Upload Assignments is required</div>
                    </div> 
                  </div>
                </div>
            </div>
          </div>
          
        </form>
        </div>
      </div>
    </main>
      <!-- partial -->
    </div>
  </div>
</div>