.form1 {
    display: contents;
    }
    
    .msg-ckeditor .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #01a79d;
      }
      .msg-ckeditor-error .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #f44336;
      }

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-editor .mat-form-field-wrapper,
.mat-editor .mat-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
}

.mat-editor .mat-form-field-flex {
  align-items: center;
}

/* https://github.com/angular/material2/issues/13322 */
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  display: inline-block !important;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 150px;
}