<div class="body-wrapper"> 
    <!-- partial:../../partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <app-sidebar></app-sidebar>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content"> 
      <!-- partial:../../partials/_navbar.html -->
    <app-header></app-header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12">
                <div class="d-flex justify-content-end">
                <a routerLink="/course" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark">
                    <i class="material-icons mdc-button__icon">home</i>
                  </a>                                   
                </div>      	 
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                  <h6 class="card-title">Approval</h6>
                    <form [formGroup]="approveCourseForm" (ngSubmit) = "approveCourseAndUpdateCourse()" autocomplete="off">
                    <div class="mdc-layout-grid__inner mt-3">
                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                            <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                              <mat-label>Add Course Fee (with GST)</mat-label>
                              <input matInput class="input" maxlength="10" placeholder="Add Course Fee (with GST)" formControlName="courseFee"
                              [ngClass]="{ 'is-invalid': f.submitted && courseFee.invalid }" (keydown)="numberonly($event)">
                            </mat-form-field>
                            <div *ngIf="submitted && f.courseFee.errors" class="invalid-feedback">
                              <div class="valid" *ngIf="f.courseFee.errors.required">Add Course Fee  is required</div>
                            </div>
                      </div>
                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                      </div>

                       <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop"> 
                          <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>Can be Extended for (Days)</mat-label>
                            <input matInput class="input" placeholder="Can be Extended for (Days)" maxlength="10" formControlName="extendedDays"
                            [ngClass]="{ 'is-invalid': f.submitted && extendedDays.invalid }" (keydown)="numberonly($event)">
                            </mat-form-field>
                            <div *ngIf="submitted && f.extendedDays.errors" class="invalid-feedback">
                              <div class="valid" *ngIf="f.extendedDays.errors.required">ExtendedDays is required</div>
                            </div>
                        </div>
                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                          <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>Extension Fee</mat-label>
                            <input matInput class="input" placeholder="Extension Fee" formControlName="extensionFee"
                            [ngClass]="{ 'is-invalid': f.submitted && extensionFee.invalid }" maxlength="10" (keydown)="numberonly($event)">
                            </mat-form-field>
                            <div *ngIf="submitted && f.extensionFee.errors" class="invalid-feedback">
                              <div class="valid" *ngIf="f.extensionFee.errors.required">ExtensionFee is required</div>
                          </div>
                        
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                          <mat-label>Rebate for Free Student</mat-label>
                          <input matInput class="input" placeholder="Rebate for Free Student" formControlName="rebateFreeStudent" 
                          [ngClass]="{ 'is-invalid': f.submitted && rebateFreeStudent.invalid }" maxlength="10" (keydown)="numberonly($event)">
                        </mat-form-field>
                        <div *ngIf="submitted && f.rebateFreeStudent.errors" class="invalid-feedback">
                          <div class="valid" *ngIf="f.rebateFreeStudent.errors.required">RebateFreeStudent is required</div>
                      </div>
                      </div>
                     <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                          <mat-label>Rebate for Paid Student</mat-label>
                          <input matInput class="input" placeholder="Rebate for Paid Student" formControlName="rebatePaidStudent"
                          [ngClass]="{ 'is-invalid': f.submitted && rebatePaidStudent.invalid }" maxlength="10" (keydown)="numberonly($event)">
                        </mat-form-field>
                        <div *ngIf="submitted && f.rebatePaidStudent.errors" class="invalid-feedback">
                          <div class="valid" *ngIf="f.rebatePaidStudent.errors.required">RebatePaidStudent is required</div>
                      </div>
                        
                      </div>  

                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <button class="mdc-button text-button--info">  Save</button>
                       </div>
                </div>
              </form>
            </div>
          </div>
            
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                  <h6 class="card-title border-bt">Course Details </h6>
                    <div class="mdc-layout-grid__inner mt-2">
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <div class="form-group">
                          <label>Name of Course</label>
                          <span class="editCustomerFormData" style="font-size: 13px; padding-left: 5px; color: #327ad5;">{{response.courseTitle}}</span> 
                        </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <div class="form-group">
                          <label>Purpose of Course</label>
                          <span id="" class="editCustomerFormData" style="font-size: 13px; padding-left: 5px; color: #327ad5;">{{response.coursePurpose}}</span>
                         </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <div class="form-group">
                          <label>Learning Objective</label>
                          <span id="" class="editCustomerFormData" style="font-size: 13px; padding-left: 5px; color: #327ad5;">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span> </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <div class="form-group">
                          <label>Eligibility Criteria</label>
                          <span id="" class="editCustomerFormData" style="font-size: 13px; padding-left: 5px; color: #327ad5;">{{response.eligibilityCriteria}}</span> </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <div class="form-group">
                          <label>Duration </label>
                          <span id="" class="editCustomerFormData" style="font-size: 13px; padding-left: 5px; color: #327ad5;">{{response.duration}}</span> </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <div class="form-group">
                          <label> Course Extension</label>
                          <span id="" class="editCustomerFormData" style="font-size: 13px; padding-left: 5px; color: #327ad5;">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span> </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <div class="form-group">
                          <label>Benefits of the Certification</label>
                          <span id="" class="editCustomerFormData" style="font-size: 12px; padding-left: 5px; color: #327ad5;">{{response.certificateBenefits}}</span> </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <div class="form-group">
                          <label>Coverage of Course </label>
                          <span id="" class="editCustomerFormData" style="font-size: 12px; padding-left: 5px; color: #327ad5;">{{response.courseCoverage}}</span> </div>
                      </div>
                     
                    </div>
                </div>
              </div>
             <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12" >
                <div class="mdc-card">
               <!--   <h6 class="card-title border-bt"> Topic 1</h6>-->
                  <div class="widget-file-container">
                    <div class="mdc-layout-grid__inner mt-2" *ngFor="let topic of topics">
                     <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                             <label class="edttext"><strong>Topic Name</strong> </label>
                          <span id="" class="editCustomerFormData" style="font-size: 13px; padding-left: 5px; color: #327ad5;">{{topic.topicName}}</span>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                           <span id="" class="editCustomerFormData" style="font-size: 13px; padding-left: 5px; color: #327ad5;">{{topic.description}}</span> 
                      </div>
                      
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12" >
                          <div class="d-flex flex-wrap" *ngFor="let content of topic.contentDtos">
                          <div class="file-container"> <div class="iconlistinline">
                              <a class="text-right mdc-button"><span class="material-icons">edit</span></a>&nbsp;
                              <a (click)="deleteContentByContent(content.contentId)" class="text-right mdc-button text-button--secondary"> <span class="material-icons">delete</span></a>
                          </div> 
                          <span class="material-icons mdc-theme--info">description</span>
                          <!-- <img src="{{content.contentType}}" alt="{{content.contentType}}"> -->
                          <p><small>{{content.fileName}}</small></p>
                          <!-- <p><small>{{content.contentValue}}</small></p> -->
                            <p><small>{{content.createdDate}}</small></p>
                          </div>                  
                        </div>
                      </div>                   
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </main>
        <!-- partial:../../partials/_footer.html --> 
        <!-- partial --> 
      </div>
    </div>
  </div>


  



  