// input Size
.input
{
  height: 20px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

form {
  display: contents;
}
  
.invalid-feedback{
  color: rgb(252, 31, 31);
  // margin-top: 10px;
}
