
  /* Modal Content/Box */
  .modal-content {
  background-color: #fefefe;
  margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 90%;
  }

table {
    width: 100%;
}

.btn{
    margin-bottom: -15px;
}

th.mat-header-cell {
    background-color: whitesmoke;
    // / row padding /
    padding: 4px 6px;
    // / row border /
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
}

.example-form-field {
	width: 440px;
  }


