<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header"> <a class="brand-logo">  
     <img src="../assets/images/logo-2.png" alt="logo"> 
      </a> </div>
    <div class="mdc-drawer__content">
      <div class="mdc-list-group">
        <nav class="mdc-list mdc-drawer-menu">
          <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard" title="List View"> <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Dashboard </a> </div>
      <!-- <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/course"> <span class="material-icons">import_contacts</span> &nbsp; My Course</a> </div> -->
      <!-- <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/assessment">< span class="material-icons">playlist_add_check</span> &nbsp; Assessment</a> </div> -->
          
   
        </nav>
      </div>
    </div>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
    <app-header></app-header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                  <div class="table-responsive-lg">
                    <table class="table table-hoverable table-fixed">
                      <thead>
                        <tr>
                          <th>Assignments Name </th>
                          <th>  Assignment Date</th>
                           <th>Last Date of Submission </th>
                             <th class="text-center">Download Status  </th>
                             <th class="text-center">Submission Status  </th>
                           
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Core Java  </td>
                           <td>Aug 25, 2020</td>
                          <td>Aug 25, 2020</td>
                         <td class="text-center">Downloaded Aug 27, 2020</td>
                         <td class="text-center">Submitted Aug 25,2019</td>
                        
                         </tr>
                         <tr>
                          <td>Hibernate </td>
                           <td>Sep 10, 2020</td>
                          <td>Aug 25, 2020</td>
                         <td class="text-center"><a href="#"><i class="material-icons mdc-button__icon" title="File">get_app</i></a></td>
                         <td class="text-center">Download Pending</td>
                        
                         </tr>
                         <tr>
                          <td> Springboot </td>
                           <td>Sep 19, 2020</td>
                          <td>Aug 25, 2020</td>
                         <td class="text-center">Downloaded Aug 25, 2020</td>
                        <td class="text-center"><button class="mdc-button text-button--info" onclick="document.getElementById('publish').style.display='block'">
                     <span class="material-icons">publish</span> 
                    </button></td>
                         
                         </tr>
                         
                      </tbody>
                    </table>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="isvisible">
                    
                      <!-- name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Assignments Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                    
                      <!-- Date Column -->
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Assignment Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                      </ng-container>
                    
                      <!-- Last Date Column -->
                      <ng-container matColumnDef="lastdate">
                        <th mat-header-cell *matHeaderCellDef> Last Date of Submission  </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastdate}} </td>
                      </ng-container>
                    
                      <!-- Download Column -->
                      <ng-container matColumnDef="downStatus">
                        <th mat-header-cell *matHeaderCellDef> Download Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.downStatus}} </td>
                      </ng-container>

                      <!-- Submission Column -->
                      <ng-container matColumnDef="sumStatus">
                        <th mat-header-cell *matHeaderCellDef> Submission Status </th>
                        <td mat-cell *matCellDef="let element"><button class="mdc-button text-button--info" onclick="document.getElementById('publish').style.display='block'">
                          <span class="material-icons">publish</span> 
                         </button> {{element.sumStatus}} </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </main>
        <!-- partial -->
      </div>
    </div>
  </div>

<div id="publish" class="modal">
  <form class="modal-content animate" action="/action_page.php" method="post"> 
      <div class="mdc-dialog__surface">
        <header class="mdc-dialog__title">
          <h3 id="mdc-dialog-default-label" class="mdc-dialog__header__title"> Upload Assignment   </h3>
        </header>
        <section id="mdc-dialog-default-description" class="mdc-dialog__content">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                     <div class="mdc-text-field mdc-text-field--outlined">
                      <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                        <mat-label>Date of Submission</mat-label>
                        <input matInput class="input" maxlength="20" placeholder="Date of Submission">
                      </mat-form-field>
                      </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <mat-form-field class="example-form-field">
                          <mat-label>Assignments</mat-label>
                          <mat-select  disableOptionCentering>
                            <mat-option [value]="courseId">Assignment #1</mat-option>
                            <mat-option [value]="courseI">Assignment #2</mat-option>
                            <mat-option [value]="course">Assignment #3</mat-option>
                          </mat-select>
                        </mat-form-field>
                        
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined"> <span class="mdc-text-field__resizer">
                          <textarea class="mdc-text-field__input" aria-labelledby="my-label-id" rows="5" cols="190"></textarea>
                          </span> <span class="mdc-notched-outline"> <span class="mdc-notched-outline__leading"></span> <span class="mdc-notched-outline__notch"> <span class="mdc-floating-label" id="my-label-id">Student Comments </span> </span> <span class="mdc-notched-outline__trailing"></span> </span> </label>
                      </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <form action="addNewStyle" enctype="multipart/form-data" class="dropzone">
                </form>
              </div>
            </div>
          </div>
        </section>
        <footer class="mdc-dialog__actions">
          <button type="button" class="mdc-button mdc-dialog__button" onclick="document.getElementById('publish').style.display='none'"> <span class="mdc-button__label">Decline</span> </button>
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes"> <span class="mdc-button__label">Accept</span> </button>
        </footer>
      </div>
  </form>
</div>
 