
  <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
        <span class="mdc-top-app-bar__title">{{value}}</span>
        <!-- <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon search-text-field d-none d-md-flex"> <i class="material-icons mdc-text-field__icon">search</i>
          <input class="mdc-text-field__input" id="text-field-hero-input" placeholder="Search..">
        </div> -->
      </div>
      <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
        <div class="menu-button-container menu-profile d-none d-md-block">
          <button class="mdc-button mdc-menu-button" [matMenuTriggerFor]="menuProfile"><span class="d-flex align-items-center"> <span class="figure"> <img src="{{profileImg}}" alt="user" class="user"> </span> <span class="user-name">{{name}}</span> </span> </button>
          <div class="mdc-menu mdc-menu-surface" tabindex="-1">
            <mat-menu #menuProfile="matMenu">
              <button mat-menu-item>
                <i class="mdi mdi-account-edit-outline text-primary iconmargin"></i> 
                <span>Edit Profile</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <i class="mdi mdi-logout-variant text-primary iconmargin"></i>
                  <span>Logout</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <!-- <div class="divider d-none d-md-block"></div> -->

      </div>
    </div>
  </header>