<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header"> <a class="brand-logo">  
     <img src="../assets/images/logo-2.png" alt="logo"> 
      </a> </div>
    <div class="mdc-drawer__content">
      <div class="mdc-list-group">
        <nav class="mdc-list mdc-drawer-menu">
          <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard" title="List View"> <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Dashboard </a> </div>
      <!-- <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/course"> <span class="material-icons">import_contacts</span> &nbsp; My Course</a> </div> -->
    
       
        </nav>
      </div>
    </div>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
    <app-header></app-header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper faq">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner"> 
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                  <h6 class="card-title"> Notifications</h6>
                    <div class="mdc-layout-grid__inner mt-2">
                      <form class="form1" [formGroup]="registerForm" autocomplete="off">
                       <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                          <mat-label>Notification Name</mat-label>
                          <input matInput class="input" maxlength="20" placeholder="Notification Name"
                          formControlName="notificationName">
                      </mat-form-field>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                          <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                            <mat-label>Notification Description</mat-label>
                            <textarea matInput placeholder="Notification Description" 
                            class="mdc-text-field__input mdctextarea"  formControlName="description"></textarea>
                        </mat-form-field>
                      </div>
                     <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <div class="mdc-form-field">
                       <h6 class="card-title"> Notifications Type &nbsp;&nbsp;&nbsp;&nbsp;</h6>
                      <div class="mdc-checkbox">
                        <input type="checkbox"
                                  class="mdc-checkbox__native-control"
                                  id="checkbox-1"/>
                        <div class="mdc-checkbox__background">
                          <svg class="mdc-checkbox__checkmark"
                                  viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark-path"
                                    fill="none"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                          </svg>
                          <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                      </div>
                      <label for="checkbox-1">SMS</label>
                    </div>
                     <div class="mdc-form-field">
                      <div class="mdc-checkbox">
                        <input type="checkbox"
                                  class="mdc-checkbox__native-control"
                                  id="checkbox-1"/>
                        <div class="mdc-checkbox__background">
                          <svg class="mdc-checkbox__checkmark"
                                  viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark-path"
                                    fill="none"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                          </svg>
                          <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                      </div>
                      <label for="checkbox-1">App</label>
                    </div>
                     <div class="mdc-form-field">
                      <div class="mdc-checkbox">
                        <input type="checkbox"
                                  class="mdc-checkbox__native-control"
                                  id="checkbox-1"/>
                        <div class="mdc-checkbox__background">
                          <svg class="mdc-checkbox__checkmark"
                                  viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark-path"
                                    fill="none"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                          </svg>
                          <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                      </div>
                      <label for="checkbox-1">Email</label>
                    </div>
                     <div class="mdc-form-field">
                      <div class="mdc-checkbox">
                        <input type="checkbox"
                                  class="mdc-checkbox__native-control"
                                  id="checkbox-1"/>
                        <div class="mdc-checkbox__background">
                          <svg class="mdc-checkbox__checkmark"
                                  viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark-path"
                                    fill="none"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                          </svg>
                          <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                      </div>
                      <label for="checkbox-1">Web</label>
                    </div>
                   </div>
                      
                      
                    
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                  <button class="mdc-button text-button--info"> Save</button>
                </div>
              </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  </div>
</div>
 







