
<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
        <!-- partial:partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
        <div class="mdc-drawer__header"> <a class="brand-logo">  
         <img src="../assets/images/logo-2.png" alt="logo"> 
          </a> </div>
        <div class="mdc-drawer__content">
          <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
              <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard" title="List View"> <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Dashboard </a> </div>
          <!-- <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/course"> <span class="material-icons">import_contacts</span> &nbsp; My Course</a> </div> -->
          <!-- <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/assessment">< span class="material-icons">playlist_add_check</span> &nbsp; Assessment</a> </div> -->
              
        
            </nav>
          </div>
        </div>
      </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
   <app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
           <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card"> 
				  <div class="mdc-layout-grid__inner">
					   <div class="mdc-layout-grid__cell--span-12">
                      <div class="d-flex justify-content-end">
                      <a routerLink= "/add_assessment" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark">
                        <!-- //href="assessment-longqustion-ans.html" -->
                        <i class="material-icons mdc-button__icon">add</i>
                      </a> </div>
                    </div>
					 <div class="mdc-layout-grid__cell--span-12 mt-2">
                      <div class="table-responsive-lg">
                        <table mat-table id="example" [dataSource]="rowData" matSort class="mat-elevation-z8">
                    
                          <!-- Name Column -->
                          <ng-container matColumnDef="assessmentName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Assessment  Name </th>
                            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/assessment', element.assissmentId]">{{element.assissmentName}}</a>  </td>
                          </ng-container>
                        
                          
   
                          <!-- Courses -->
                          <ng-container matColumnDef="courseName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sticky="true"> Courses  </th>
                            <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
                          </ng-container>
                        
                          <!-- Total Question Column -->
                          <ng-container matColumnDef="totalQuestion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Question </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalQuestion}} </td>
                          </ng-container>
      
                          <!-- Total Mark Column -->
                          <ng-container matColumnDef="totalMark">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Mark </th>
                              <td mat-cell *matCellDef="let element"> {{element.totalMark}} </td>
                            </ng-container>
      
                            <!-- Minimum PassScore Column -->
                          <ng-container matColumnDef="minimumPassScore">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Minimum PassScore </th>
                              <td mat-cell *matCellDef="let element"> {{element.minimumPassScore}} </td>
                            </ng-container>

                             <!-- Total Test Time Column -->
                            <ng-container matColumnDef="totalTestTime">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Test Time </th>
                              <td mat-cell *matCellDef="let element"> {{element.totalTestTime}} </td>
                            </ng-container>

                              <!-- Created Date Column -->
                            <ng-container matColumnDef="createdDate">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date</th>
                              <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
                            </ng-container>
      
                            <!-- Fee Column -->
                          
                            <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                              <td mat-cell *matCellDef="let element" class="corsorDelete"> 
                                <span class="material-icons mdc-theme--secondary" (click)="deleteAssessment(element.assissmetId, element.assissmentName )">delete</span>
                              </td>
                            </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        
                          <!-- Row shown when there is no matching data. -->
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                          </tr>
                        </table>
                      </div>
                    </div>
				  </div>
               
              </div>
            </div>
            
          </div>
        </div>
      </main>
      <!-- partial --> 
    </div>
  </div>
</div>
