// icon and span margin
.iconmargin{
margin-right: 10px;
}
.tx-16{
    margin-left: 25px;
}
.text-muted {
    margin-top: -15px;
}
.imgIcon{
    width: 36px;
    border-radius: 35px;
    margin-right: 10px;
}
.mdc-list-item{
    white-space: nowrap;
    padding: 10px 26px;
    border-top: 1px solid #e9eaef;

}