<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
      <span class="mdc-top-app-bar__title">{{value}} </span>
      
    </div>
    <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
      <div class="menu-button-container menu-profile d-none d-md-block">
        <button class="mdc-button mdc-menu-button" [matMenuTriggerFor]="menuProfile"> <span class="d-flex align-items-center"> <span class="figure"> <img src="{{profileImg}}" alt="user" class="user"> </span> <span class="user-name">{{name}}</span> </span> </button>
        <div class="mdc-menu mdc-menu-surface" tabindex="-1">
          <mat-menu #menuProfile="matMenu">
          <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
            <li class="mdc-list-item" role="menuitem">
              <div class="item-thumbnail item-thumbnail-icon-only"> <i class="mdi mdi-account-edit-outline text-primary"></i> </div>
              <div class="item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="item-subject font-weight-normal">Edit profile</h6>
              </div>
            </li>
            <li class="mdc-list-item" role="menuitem"  (click)="logout()">
              <div class="item-thumbnail item-thumbnail-icon-only"> <i class="mdi mdi-settings-outline text-primary"></i> </div>
              <div class="item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="item-subject font-weight-normal">Logout</h6>
              </div>
            </li>
          </ul>
          </mat-menu>
        </div>
      </div>
     <div class="divider d-none d-md-block"></div>
         <div class="menu-button-container d-none d-md-block">
          <button class="mdc-button mdc-menu-button" [matMenuTriggerFor]="menu">  <i class="mdi mdi-settings"></i> </button>
        <div class="mdc-menu mdc-menu-surface" tabindex="-1">
          <mat-menu #menu="matMenu" xPosition="before">
          <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
           <!--<li class="mdc-list-item" role="menuitem">
              <div class="item-content d-flex align-items-start flex-column justify-content-center">
                <a href="catalog.html" class="item-subject font-weight-normal"><span class="material-icons">playlist_add_check</span> &nbsp;Catalog  </a>
              </div>
            </li>-->
            <li class="mdc-list-item" role="menuitem">
              <div class="item-content d-flex align-items-start flex-column justify-content-center">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/course" class="item-subject font-weight-normal"><span class="material-icons">library_books</span> &nbsp;Configure Courses  </a>
              </div>
            </li>
            
     <li class="mdc-list-item" role="menuitem">
              <div class="item-content d-flex align-items-start flex-column justify-content-center">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/news"  class="item-subject font-weight-normal"><span class="material-icons">local_library</span> &nbsp;News  </a>
              </div>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <div class="item-content d-flex align-items-start flex-column justify-content-center">
                <a class="item-subject font-weight-normal"><span class="material-icons">person_add</span> &nbsp;Faculty  </a>
              </div>
            </li>
             <li class="mdc-list-item" role="menuitem">
              <div class="item-content d-flex align-items-start flex-column justify-content-center">
              <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/admission_enrolment" class="item-subject font-weight-normal"> <span class="mdi mdi-progress-download"></span> &nbsp;Admission and Enrollments  </a>
              </div>
            </li>
             <li class="mdc-list-item" role="menuitem">
              <div class="item-content d-flex align-items-start flex-column justify-content-center">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/notification"  class="item-subject font-weight-normal"><span class="mdi mdi-bell-circle-outline"></span> &nbsp;Notification </a>
              </div>
            </li>
          
          </ul>
        </mat-menu>
        </div>
      </div>
    </div>
  </div>
</header>