<div class="body-wrapper"> 
    <!-- partial:../../partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <app-sidebar></app-sidebar>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content"> 
      <!-- partial:../../partials/_navbar.html -->
  <app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                  <div class="mdc-layout-grid__inner mt-3">
					  <div class="mdc-layout-grid__cell--span-6"> <h6 class="card-title">Add Faculty </h6></div>
                   <div class="mdc-layout-grid__cell--span-6">
              <div class="d-flex justify-content-end"> 
              <button class="mdc-button mdc-button--raised filled-button--light">
                      Save
                    </button>
						 &nbsp;&nbsp;&nbsp;&nbsp;
              <a  class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark"> <i class="material-icons mdc-button__icon" title="faculty List">home</i> </a> </div>
            </div>
                   
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                      <div class="mdc-text-field mdc-text-field--outlined">
                        <input class="mdc-text-field__input" id="text-field-hero-input">
                        <div class="mdc-notched-outline">
                          <div class="mdc-notched-outline__leading"></div>
                          <div class="mdc-notched-outline__notch">
                            <label for="text-field-hero-input" class="mdc-floating-label">Name </label>
                          </div>
                          <div class="mdc-notched-outline__trailing"></div>
                        </div>
                      </div>
                    </div>

                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                      <div class="mdc-text-field mdc-text-field--outlined">
                        <input class="mdc-text-field__input" type="number" id="text-field-hero-input">
                        <div class="mdc-notched-outline">
                          <div class="mdc-notched-outline__leading"></div>
                          <div class="mdc-notched-outline__notch">
                            <label for="text-field-hero-input" class="mdc-floating-label">Experience in field </label>
                          </div>
                          <div class="mdc-notched-outline__trailing"></div>
                        </div>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined"> <span class="mdc-text-field__resizer">
                        <textarea class="mdc-text-field__input" aria-labelledby="my-label-id" rows="2" 
      cols="50" maxlength="140"></textarea>
                        </span> <span class="mdc-notched-outline"> <span class="mdc-notched-outline__leading"></span> <span class="mdc-notched-outline__notch"> <span class="mdc-floating-label" id="my-label-id">Expertise in area </span> </span> <span class="mdc-notched-outline__trailing"></span> </span> </label>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined"> <span class="mdc-text-field__resizer">
                        <textarea class="mdc-text-field__input" aria-labelledby="my-label-id" rows="2" 
      cols="50" maxlength="140"></textarea>
                        </span> <span class="mdc-notched-outline"> <span class="mdc-notched-outline__leading"></span> <span class="mdc-notched-outline__notch"> <span class="mdc-floating-label" id="my-label-id">Area of specialization </span> </span> <span class="mdc-notched-outline__trailing"></span> </span> </label>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined"> <span class="mdc-text-field__resizer">
                        <textarea class="mdc-text-field__input" aria-labelledby="my-label-id" rows="2" 
      cols="50" maxlength="140"></textarea>
                        </span> <span class="mdc-notched-outline"> <span class="mdc-notched-outline__leading"></span> <span class="mdc-notched-outline__notch"> <span class="mdc-floating-label" id="my-label-id">Any notable achievements </span> </span> <span class="mdc-notched-outline__trailing"></span> </span> </label>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined"> <span class="mdc-text-field__resizer">
                        <textarea class="mdc-text-field__input" aria-labelledby="my-label-id" rows="2" 
      cols="50" maxlength="140"></textarea>
                        </span> <span class="mdc-notched-outline"> <span class="mdc-notched-outline__leading"></span> <span class="mdc-notched-outline__notch"> <span class="mdc-floating-label" id="my-label-id">Profile write up </span> </span> <span class="mdc-notched-outline__trailing"></span> </span> </label>
                    </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                      <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined"> <span class="mdc-text-field__resizer">
                        <textarea class="mdc-text-field__input" aria-labelledby="my-label-id" rows="2" 
      cols="50" maxlength="140"></textarea>
                        </span> <span class="mdc-notched-outline"> <span class="mdc-notched-outline__leading"></span> <span class="mdc-notched-outline__notch"> <span class="mdc-floating-label" id="my-label-id">Courses he will teach  </span> </span> <span class="mdc-notched-outline__trailing"></span> </span> </label>
                    </div>
                       <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                     	<div class="file-input">
  <input type="file">
  <span class="mdc-button mdc-button--raised filled-button--light">Photo</span>
  <label class="label" data-js-label>No file selected </label>
</div>     
                    </div>
                     <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                     	<div class="file-input">
  <input type="file">
  <span class="mdc-button mdc-button--raised filled-button--light">Introduction Video</span>
  <label class="label" data-js-label>No file selected </label>
</div>     
                    </div>
                    
                  
                  </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- partial:../../partials/_footer.html --> 
      <!--<footer>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                <span class="tx-14">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
                <div class="d-flex align-items-center">
                  <a href="">Documentation</a>
                  <span class="vertical-divider"></span>
                  <a href="">FAQ</a>
                </div>
              </div>
            </div>
          </div>
        </footer>--> 
      <!-- partial --> 
    </div>
  </div>
</div>
