

<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
   <app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
           <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card"> 
                <h6 class="card-title">Topic wise Content Approval </h6>
				  <div class="mdc-layout-grid__inner">
                         <div class="mdc-layout-grid__cell--span-12">
                      <div class="d-flex justify-content-end">
                      <a routerLink="/course" class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark">
                        <i class="material-icons mdc-button__icon">home</i>
                      </a> </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                      <div class="mdc-select demo-width-class mdc-text-field--fullwidth" data-mdc-auto-init="MDCSelect">
                        <mat-form-field>
                          <mat-label>Faculty</mat-label>
                          <mat-select (selectionChange)="getfacultyId($event.value);" disableOptionCentering>
                            <mat-option *ngFor="let obj of faculty" [value]="obj.facultyId">{{obj.facultyName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        </div>
                      </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3 ">
                    <div class="mdc-select demo-width-class mdc-text-field--fullwidth " data-mdc-auto-init="MDCSelect">
                    <mat-form-field >
                      <mat-label>Course</mat-label>
                      <mat-select (selectionChange)="getcourseId($event.value);" disableOptionCentering>
                        <mat-option *ngFor="let data of courseData" [value]="data.courseId">{{data.courseName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                      <div class="mdc-select demo-width-class mdc-text-field--fullwidth " data-mdc-auto-init="MDCSelect">
                      <mat-form-field>
                        <mat-label>Topic</mat-label>
                        <mat-select (selectionChange)="gettopicId($event.value);" disableOptionCentering>
                          <mat-option *ngFor="let topic of topicData" [value]="topic.topicId">{{topic.topicName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      </div>
                    </div>
                     <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                     <button class="mdc-button mdc-button--raised icon-button shaped-button filled-button--dark gobtn-middile" (click)="getMatserContent()"> Go</button>
                     </div>
                    
                      
                      <div class="mdc-layout-grid__cell--span-12">
                     	<div class="table-responsive-lg">
                        <table mat-table [dataSource]="toBeApprovelist" class="mat-elevation-z8">
                        
                          <!-- Topic Column -->
                          <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> Courses </th>
                            <td mat-cell *matCellDef="let element"> {{element.courses.courseTitle}} </td>
                          </ng-container>
                        
                          <!-- Topic Column -->
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Topic </th>
                            <td mat-cell *matCellDef="let element"> {{element.topic.topicName}} </td>
                          </ng-container>
                        
                          <!-- Faculty Column -->
                          <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef> Faculty </th>
                            <td mat-cell *matCellDef="let element"> </td>
                          </ng-container>
                        
                          <!-- Contants Column -->
                          <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef> Content </th>
                            <td mat-cell *matCellDef="let element"> 
                              <a><i class="material-icons mdc-button__icon" title="File">description</i></a>
                            </td>
                          </ng-container>

                             <!-- Symbol Column -->
                             <ng-container matColumnDef="approve">
                              <th mat-header-cell *matHeaderCellDef> Action </th>
                              <td mat-cell *matCellDef="let element"> 
                              <button class="mdc-button text-button--info" (click)="getContentId(element.contentId)">Approve</button>
                              <button class="mdc-button text-button--secondary" (click)="rejectContent(element.contentId)"> Reject </button>
                              </td>
                            </ng-container>
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div *ngIf="isLoading" class="spinner">
                          <mat-progress-spinner diameter="40"
                            color="primary" 
                            mode="indeterminate">
                          </mat-progress-spinner>
                      </div>
                  </div>
                    </div>
                    </div>
               
              </div>
            </div>
            
          </div>
        </div>
      </main>
      <!-- partial --> 
    </div>
  </div>
</div>

<div id="approveTopic" class="modal">
  <form class="modal-content animate">
    <div class="mdc-dialog__surface">
      <header class="mdc-dialog__title">
        <h3 id="mdc-dialog-default-label" class="mdc-dialog__header__title"> Approved </h3>
      </header>
      <section id="mdc-dialog-default-description" class="mdc-dialog__content">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop">
              <div class="mdc-form-field">
                <div class="mdc-radio">
                  <input class="mdc-radio__native-control" type="radio" id="radio-1" name="radios" checked>
                  <div class="mdc-radio__background">
                    <div class="mdc-radio__outer-circle"></div>
                    <div class="mdc-radio__inner-circle"></div>
                  </div>
                  <div class="mdc-radio__ripple"></div>
                </div>
                <label for="radio-1">Approved</label>
              </div> 
            </div>
          </div>
        </div>
      </section>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" onclick="document.getElementById('approveTopic').style.display='none'"> <span class="mdc-button__label">Decline</span> </button>
        <button type="button" class="mdc-button mdc-dialog__button" (click)="putApprove()" > <span class="mdc-button__label">Accept</span> </button>
      </footer>
    </div>
  </form>
</div>

