.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  table{
    width: 100%;
    overflow: auto
    // border-spacing: 0 8px !important;
  }

  th.mat-header-cell {
    background-color: whitesmoke;
    // / row padding /
    padding: 4px 6px;
    // / row border /
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
   }
   
// input Size
.input
{
height: 20px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 25%; /* Could be more or less, depending on screen size */
}

.mdc-button.icon-button{
  margin-top: 2px;
}

.text-left {
  text-align: left !important;
}

.mdc-button{
padding: 0px;
}

// /Modal Content/Box /
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; // 5% from the top, 15% from the bottom and centered /
border: 1px solid #888;
width: 30%;  //Could be more or less, depending on screen size /
}

// .form1 {
// display: contents;
// }