<div class="body-wrapper"> 
    <!-- partial:../../partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
        <div class="mdc-drawer__header">
          <a routerLink="/mycourses" class="brand-logo"> LMS
            <!--<img src="../assets/images/logo.svg" alt="logo">-->
          </a>
        </div>
        <div class="mdc-drawer__content">
          <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
             <div class="mdc-list-item mdc-drawer-item">
                <a class="mdc-drawer-link" routerLink="/myCourses">
                   My Courses  
                </a>
              </div>      
              <div class="mdc-list-item mdc-drawer-item sidebartopbdr mt-4">
                <a class="mdc-expansion-panel-link" onclick="toggle_visibility('sample-page-submenu');">
                 <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">feedback</i>
                Other Courses
                  <i class="mdc-drawer-arrow material-icons">chevron_right</i>
                </a>
                <div class="mdc-expansion-panel" id="sample-page-submenu">
                  <!-- <div class="mdc-list-item mdc-drawer-item mdc-top-app-bar">   
                    <form class="search">
                    <div class="a-field search__field">
                    <input type="text" class="r-text-field" placeholder="Search..">      
                    </div>
                    </form>
                    </div> -->
                  <nav class="mdc-list mdc-drawer-submenu">
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" routerLink="/otherCourse" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                       Course - 1
                      </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" >
                       Course - 2
                      </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" >
                       Course - 3
                      </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" >
                       Course - 4
                      </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" >
                       Course - 5
                      </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" >
                       Course - 6
                      </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" >
                       Course - 7
                      </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" >
                       Course - 8
                      </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" >
                       Course - 9
                      </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" >
                       Course - 10
                      </a>
                    </div>
                   
                  </nav>
                </div>
              </div>
            </nav>
          </div> 
        </div>
      </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content"> 
      <!-- partial:../../partials/_navbar.html -->
      <app-userheader></app-userheader>
        <!-- partial -->
        <div class="page-wrapper mdc-toolbar-fixed-adjust">
            <main class="content-wrapper faq">
              <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                  <div class="mdc-card">
                     <!--<h6 class="card-title border-bt"> Course Content</h6>-->
                    <div class="faq-section">
                        <div class="bg-light py-2 px-4">
                          <h5 class="mb-0 text-dark font-weight-normal">Courses Overview</h5>
                        </div>
                        <div id="expansionpanel-1" class="expansion-panel">
                          <div class="card">
                            <div class="expansion-panel-header" id="headingOne">
                              <h5 class="mb-0">
                                <a class="mdc-expansion-panel-link"  onclick="toggle_visibility('panel3');">
                                 Watch Free Video
                                </a>
                              </h5>
                            </div>
                            <div class="mdc-expansion-panel" id="panel3">
                              <div class="template-demo widget-file-container">
                      <div class="mdc-layout-grid__inner mt-2">
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                          <div class="d-flex flex-wrap">
                            <div class="file-container"> <div class="iconlistinline">
                            <span class="material-icons">play_circle_filled</span>
                            </div>
                              <p><small>Lesson 01</small></p>
                              <p><small>24/08/2020</small></p>
                              <p><label class="badge badge-success badge-pill">FREE</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">play_circle_filled</span>
                            </div> 
                              <p><small>Lesson 02</small></p>
                              <p><small>26/08/2020</small> </p>
                               <p><label class="badge badge-success badge-pill">FREE</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">play_circle_filled</span>
                            </div> 
                              <p><small>Lesson 03</small></p>
                              <p><small>24/08/2020</small> </p>
                               <p><label class="badge badge-success badge-pill">FREE</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                           <span class="material-icons">play_circle_filled</span>
                            </div> 
                              <p><small>Lesson 04</small></p>
                              <p><small>24/08/2020</small> </p>
                               <p><label class="badge badge-warning badge-pill">PAID</label></p>
                            </div>
                            
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">play_circle_filled</span>
                            </div>
                              <p><small>Lesson 05.</small></p>
                              <p><small>22/08/2020</small> </p>
                               <p><label class="badge badge-warning badge-pill">PAID</label></p>
                            </div>
                            
                          
                          </div>
                        </div>
                         <div class="mdc-layout-grid__cell--span-12">
                             <div class="d-flex justify-content-end">
                              <button class="mdc-button mdc-button--unelevated shaped-button filled-button--secondary">
                            Buy Now
                          </button>
                         </div>
                         </div>
                      </div>
                    </div> 
                                
                                
                            </div>
                          </div>
                          <div class="card">
                            <div class="expansion-panel-header" id="headingTwo">
                              <h5 class="mb-0">
                                <a class="mdc-expansion-panel-link" onclick="toggle_visibility('panel2');">
                                View Free PDF
                                </a>
                              </h5>
                            </div>
                            <div class="mdc-expansion-panel" id="panel2">
                               <div class="template-demo widget-file-container">
                      <div class="mdc-layout-grid__inner mt-2">
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                          <div class="d-flex flex-wrap">
                            <div class="file-container">  <div class="iconlistinline">
                            <span class="material-icons">picture_as_pdf</span>
                            </div>
                              <p><small>Lesson 01.pdf</small></p>
                              <p><small>24/08/2020</small></p>
                              <p><label class="badge badge-success badge-pill">FREE</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">picture_as_pdf</span>
                            </div> 
                              <p><small>Lesson 02.pdf</small></p>
                              <p><small>26/08/2020</small> </p>
                               <p><label class="badge badge-success badge-pill">FREE</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">picture_as_pdf</span>
                            </div> 
                              <p><small>Lesson 03.pdf</small></p>
                              <p><small>24/08/2020</small> </p>
                               <p><label class="badge badge-success badge-pill">FREE</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                           <span class="material-icons">picture_as_pdf</span>
                            </div> 
                              <p><small>Lesson 04.pdf</small></p>
                              <p><small>24/08/2020</small> </p>
                               <p><label class="badge badge-warning badge-pill">PAID</label></p>
                            </div>
                            
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">picture_as_pdf</span>
                            </div>
                              <p><small>Lesson 05.pdf</small></p>
                              <p><small>22/08/2020</small> </p>
                               <p><label class="badge badge-warning badge-pill">PAID</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">picture_as_pdf</span>
                            </div>
                              <p><small>Lesson 05.pdf</small></p>
                              <p><small>22/08/2020</small> </p>
                               <p><label class="badge badge-warning badge-pill">PAID</label></p>
                            </div>
                          
                          </div>
                        </div>
                        <div class="mdc-layout-grid__cell--span-12">
                             <div class="d-flex justify-content-end">
                              <button class="mdc-button mdc-button--unelevated shaped-button filled-button--secondary">
                            Buy Now
                          </button>
                         </div>
                         </div>
                      </div>
                    </div> 
                            </div>
                          </div>
                          <div class="card">
                            <div class="expansion-panel-header" id="headingThree">
                              <h5 class="mb-0">
                                <a class="mdc-expansion-panel-link" onclick="toggle_visibility('panel1');">
                               View Free PPT
                                </a>
                              </h5>
                            </div>
                            <div class="mdc-expansion-panel" id="panel1">
                                <div class="template-demo widget-file-container">
                      <div class="mdc-layout-grid__inner mt-2">
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                          <div class="d-flex flex-wrap">
                            <div class="file-container">  <div class="iconlistinline">
                            <span class="material-icons">description</span>
                            </div>
                              <p><small>Lesson 01.ppt</small></p>
                              <p><small>24/08/2020</small></p>
                              <p><label class="badge badge-success badge-pill">FREE</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">description</span>
                            </div> 
                              <p><small>Lesson 02.ppt</small></p>
                              <p><small>26/08/2020</small> </p>
                               <p><label class="badge badge-success badge-pill">FREE</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">description</span>
                            </div> 
                              <p><small>Lesson 03.ppt</small></p>
                              <p><small>24/08/2020</small> </p>
                               <p><label class="badge badge-success badge-pill">FREE</label></p>
                            </div>
                            <div class="file-container"> <div class="iconlistinline">
                           <span class="material-icons">description</span>
                            </div> 
                              <p><small>Lesson 04.ppt</small></p>
                              <p><small>24/08/2020</small> </p>
                               <p><label class="badge badge-warning badge-pill">PAID</label></p>
                            </div>
                            
                            <div class="file-container"> <div class="iconlistinline">
                                <span class="material-icons">description</span>
                            </div>
                              <p><small>Lesson 05.ppt</small></p>
                              <p><small>22/08/2020</small> </p>
                               <p><label class="badge badge-warning badge-pill">PAID</label></p>
                            </div>
                            
                          
                          </div>
                        </div>
                        <div class="mdc-layout-grid__cell--span-12">
                             <div class="d-flex justify-content-end">
                              <button class="mdc-button mdc-button--unelevated shaped-button filled-button--secondary">
                            Buy Now
                          </button>
                         </div>
                         </div>
                      </div>
                    </div> 
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                  
                   
                  
                </div>
              </div>
            </main>
            <!-- partial -->
          </div>
      </div>
    </div>
   