
<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header">
      <a routerLink="/myCourses" class="brand-logo"> LMS
   <img src="../assets/images/logo-2.png" alt="logo">
      </a>
    </div>
    <div class="mdc-drawer__content">
      <div class="mdc-list-group">
        <nav class="mdc-list mdc-drawer-menu">
         <div class="mdc-list-item mdc-drawer-item">
          <a class="mdc-drawer-link" routerLink="/myCourses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            My Courses  
         </a>
          </div>      
           <div class="mdc-list-item mdc-drawer-item sidebartopbdr mt-4"> <a class="mdc-expansion-panel-link"  onclick="toggle_visibility('sample-page-submenu');" data-toggle="expansionPanel" data-target="sample-page-submenu"> <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">feedback</i> Other Courses <i class="mdc-drawer-arrow material-icons">chevron_right</i> </a>
            <div class="mdc-expansion-panel" id="sample-page-submenu">
              <div class="mdc-list-item mdc-drawer-item mdc-top-app-bar">
                <form class="search">
                  <div class="a-field search__field">
                    <input type="teogxt" class="r-text-field" placeholder="Search..">
                  </div>
                </form>
              </div>
              <nav class="mdc-list mdc-drawer-submenu">
                <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/assessment"> Course - 1 </a> </div>
                <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" > Course - 2 </a> </div>
                <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" > Course - 3 </a> </div>
                <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" > Course - 4 </a> </div>
               
              </nav>
            </div>
          </div>
        </nav>
      </div> 
    </div>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
    <app-userheader></app-userheader>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper faq">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner"> 
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <h6 class="card-title border-bt"> Courses  (05)</h6>
                <div class="template-demo widget-file-container">
                  <div class="mdc-layout-grid__inner mt-2">
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12 mycourse">
                      <div class="d-flex flex-wrap" *ngFor = "let myCourseRes of dataList">
                        <div class="file-container"> <div class="iconlistinline">
                      <a ><img [routerLink] = "['/courseMaterial', myCourseRes.courseId ]" src="{{myCourseRes.courseImage}}"  alt="{{myCourseRes.courseTitle}}" width="100" height="100" ></a>
                        </div>
                        </div>
                        <!-- <div class="file-container"> <div class="iconlistinline">
                        	 <a ><img src="../assets/images/phtn.png"  alt="Python"></a> 
                        </div> 
                        
                        </div>
                        <div class="file-container"> <div class="iconlistinline">
                        	 <a><img src="../assets/images/php.png"  alt="PHP"></a>
                        </div> 
                         
                        </div>
                        <div class="file-container"> <div class="iconlistinline">
                        	 <a><img src="../assets/images/negtive.png" alt="React"></a>
                        </div> 
                          
                        </div>
                        <div class="file-container"> <div class="iconlistinline">
                        	 <a><img src="../assets/images/node.png" alt="Node"></a>
                        </div> 
                         
                        </div> -->
                       
                    
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
     
    </div>
  </div>
</div>
