<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
  <app-header></app-header>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
          
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-12-tablet">
              <div class="mdc-card">
                <!--<h6 class="card-title mb-3">Tab with Info Indicator</h6>-->
                <div class="mdc-tab-wrapper mdc-tab--info">
                  <div class="mdc-tab-bar" role="tablist">
                    <div class="mdc-tab-scroller">
                      <div class="mdc-tab-scroller__scroll-area">
                        <div class="mdc-tab-scroller__scroll-content">
                          <button class="mdc-tab mdc-tab--active" (click)="assess()">
                            <span class="mdc-tab__content">
                              <span class="mdc-tab__text-label"> Assessments </span>
                            </span>
                            <div id="indicator">
                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                            </div>
                          </button>
                          <button class="mdc-tab mdc-tab--active" (click)="assign()">
                            <span class="mdc-tab__content">
                              <span class="mdc-tab__text-label">Assignments</span>
                            </span>
                            <div id="indicator1">
                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                          </div>
                          </button>                     
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="content" id="content1-active">
                  <div class="mdc-layout-grid__cell--span-12">
            <div class="d-flex justify-content-end">
                <a routerLink="/assessment" class="mdc-button mdc-button--raised icon-button shaped-button secondary-filled-button" data-toggle="dialog" target-dialog="mdc-dialog-assign">
                          <i class="material-icons mdc-button__icon">add</i>
                        </a>
            </div>
                    </div>
                   <div class="mdc-layout-grid__cell--span-12 mt-2">
                    <div class="table-responsive-lg">
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        
                          <!-- Assessments Column -->
                          <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef> Assessments Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                          </ng-container>
                        
                          <!-- Date Column -->
                          <ng-container matColumnDef="Date">
                            <th mat-header-cell *matHeaderCellDef> Date of Submission </th>
                            <td mat-cell *matCellDef="let element"> </td>
                          </ng-container>
                        
                          <!-- Courses Column -->
                          <ng-container matColumnDef="Courses">
                            <th mat-header-cell *matHeaderCellDef> Courses </th>
                            <td mat-cell *matCellDef="let element"> </td>
                          </ng-container>
                        
                          <!-- Topics Column -->
                          <ng-container matColumnDef="Topics">
                            <th mat-header-cell *matHeaderCellDef> Topics </th>
                            <td mat-cell *matCellDef="let element"> </td>
                          </ng-container>

                           <!-- Upload Column -->
                           <ng-container matColumnDef="Upload">
                              <th mat-header-cell *matHeaderCellDef> Upload Assessment </th>
                              <td mat-cell *matCellDef="let element"> <a href="#"><i class="material-icons mdc-button__icon" title="File">description</i></a>  </td>
                            </ng-container>

                             <!-- Action Column -->
                          <ng-container matColumnDef="Action">
                              <th mat-header-cell *matHeaderCellDef> Action </th>
                              <td mat-cell *matCellDef="let element"> 
                                  <button mat-icon-button [matMenuTriggerFor]="menu"  class="mdc-button mdc-menu-button icon-button shaped-button secondary-filled-button">
                                    <mat-icon class="material-icons">more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item class="btn">
                                      <span>Edit</span>
                                    </button>
                                    <button mat-menu-item class="btn">
                                      <span>Delete</span>
                                    </button>
                                  </mat-menu>
                                </td>
                            </ng-container>
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>
                  </div>
                  </div>
                  
                  <div class="content" id="content2-active">
                    <div class="mdc-layout-grid__cell--span-12">
            <div class="d-flex justify-content-end">
                <a routerLink="/assignment" class="mdc-button mdc-button--raised icon-button shaped-button secondary-filled-button">
                          <i class="material-icons mdc-button__icon">add</i>
                        </a>
                    </div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-12  mt-2">
                    <div class="table-responsive-lg">
                      <div class="table-responsive-lg">
                          <table mat-table [dataSource]="assignList" class="mat-elevation-z8">
                        
                              <!-- Assignment Column -->
                              <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef> Assignment Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.assignmentName}} </td>
                              </ng-container>
                            
                              <!-- Date Column -->
                              <ng-container matColumnDef="Date">
                                <th mat-header-cell *matHeaderCellDef> Date of Submission </th>
                                <td mat-cell *matCellDef="let element"> {{element.scheduledSubmissionDate}}</td>
                              </ng-container>
                            
                              <!-- Courses Column -->
                              <ng-container matColumnDef="Courses">
                                <th mat-header-cell *matHeaderCellDef> Courses </th>
                                <td mat-cell *matCellDef="let element"> {{element.courseNameStr}} </td>
                              </ng-container>
                            
                              <!-- Topics Column -->
                              <ng-container matColumnDef="Topics">
                                <th mat-header-cell *matHeaderCellDef> Topics </th>
                                <td mat-cell *matCellDef="let element"> {{element.topicName}} </td>
                              </ng-container>
  
                               <!-- Upload Column -->
                               <ng-container matColumnDef="Upload">
                                  <th mat-header-cell *matHeaderCellDef> Upload Assignment </th>
                                  <td mat-cell *matCellDef="let element"> <a href="#"><i class="material-icons mdc-button__icon" title="File">description</i></a>  </td>
                                </ng-container>
  
                                 <!-- Action Column -->
                              <ng-container matColumnDef="Action">
                                  <th mat-header-cell *matHeaderCellDef> Action </th>
                                  <td mat-cell *matCellDef="let element"> 
                                      <button mat-icon-button [matMenuTriggerFor]="menu"  class="mdc-button mdc-menu-button icon-button shaped-button secondary-filled-button">
                                        <mat-icon class="material-icons">more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menu="matMenu" xPosition="before">
                                        <button mat-menu-item class="btn">
                                          <span>Edit</span>
                                        </button>
                                        <button mat-menu-item class="btn">
                                          <span>Delete</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                </ng-container>
                            
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                </div>
                    </div>
                  </div>
                    </div>
                  
                </div>
              </div>
            </div>
              
            
          </div>
        </div>
      </main>
      <!-- partial -->
    </div>
  </div>
</div>