
.mdc-button.icon-button {
    margin-top: 5px;
}

table {
    width: 100%;
}

.btn{
    margin-bottom: -15px;
  }

th.mat-header-cell {
    background-color: whitesmoke;
    // / row padding /
    padding: 4px 6px;
    // / row border /
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
}
