h1 {
	font-weight: bold;
	margin: 0;
}

.backImg{
background-image: url("../../../assets/images/login_bg.jpg");
background-size: cover;
width: 100%;
height: 100%;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.example-form-field {
	width: 400px;
  }

span {
  font-size: 12px;
  margin-bottom: 5px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

// .body-wrapper{
// background-image: url(../../../assets/images/login_bg.jpg);
// background-repeat: none;
// }

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer !important;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.invalid-feedback{
  color: rgb(252, 31, 31);
  margin-right: 70%;
  // margin-top: 10px;
  }

  
.errout{
	color: rgb(252, 31, 31);
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 21px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 561px;
    max-width: 100%;
    min-height: 480px;
	margin-left: 57%;
    top: 18%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 100%;
	z-index: 2;
}

.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


