<div class="backImg">
<div class="container" id="container">
  <div class="form-container log-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Login</h1>
      <div class="social-container">
        <a (click)="socialSignIn('facebook')" class="social"><i class="fa fa-facebook fa-2x"></i></a>
        <a (click)="socialSignIn('google')" class="social"><i class="fab fa fa-google fa-2x"></i></a>
      </div>
      <div class="errout"><h6>{{erroutput}}</h6></div>
      <span>or use your account</span>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <mat-form-field appearance="legacy" class="mdc-text-field example-form-field">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" class="mdc-text-field__input" formControlName="userName"  [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
        </mat-form-field>
        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
          <div class="valid" *ngIf="f.userName.errors.required">UserName is required</div>
      </div>
      </div>
      <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-12">
        <mat-form-field appearance="legacy" class="mdc-text-field example-form-field">
          <mat-label>Password</mat-label>
          <div class="mdc-line-ripple"></div>
          <input matInput type="password" placeholder="Password" class="mdc-text-field__input" formControlName="password" maxlength="21"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </mat-form-field>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div class="valid" *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
      </div>
      <!-- <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">Forgot your password?</a> -->
      <button>Log In</button>
    </form>
  </div>
</div>
</div>