<div class="body-wrapper"> 
    <!-- partial:../../partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <app-sidebar></app-sidebar>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content"> 
      <!-- partial:../../partials/_navbar.html -->
<app-header></app-header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-12-desktop">
                          <div class="d-flex justify-content-end">
                          <a href="news.html" class="mdc-button mdc-button--raised icon-button shaped-button secondary-filled-button">
                              <i class="material-icons mdc-button__icon">home</i>
                            </a>
                          </div>
                            
                          </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                  <h6 class="card-title">Add Course Content </h6>
                  <div class="template-demo2">
                    <div class="mdc-layout-grid__inner">
                       <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined">
                          <input class="mdc-text-field__input" id="text-field-hero-input">
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="text-field-hero-input" class="mdc-floating-label">Title</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop">
                        <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined"> <span class="mdc-text-field__resizer">
                          <textarea class="mdc-text-field__input" aria-labelledby="my-label-id" rows="10" cols="40"></textarea>
                          </span> <span class="mdc-notched-outline"> <span class="mdc-notched-outline__leading"></span> <span class="mdc-notched-outline__notch"> <span class="mdc-floating-label" id="my-label-id">Content  </span> </span> <span class="mdc-notched-outline__trailing"></span> </span> </label>
                      </div>
                       
                     
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop">
                        <button class="mdc-button mdc-button--outlined"> Update </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- partial:../../partials/_footer.html -->  
        <!-- partial --> 
      </div>
    </div>
  </div>