<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header">
      <a href="index.html" class="brand-logo"> LMS
        <!--<img src="../assets/images/logo.svg" alt="logo">-->
      </a>
    </div>
    <div class="mdc-drawer__content">
      <div class="mdc-list-group">
        <nav class="mdc-list mdc-drawer-menu">
         <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" href="mycourses">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">import_contacts</i>
               My Courses  
            </a>
          </div>      
          <div class="mdc-list-item mdc-drawer-item sidebartopbdr mt-4">
            <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="sample-page-submenu">
             <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">feedback</i>
            Other Courses
              <i class="mdc-drawer-arrow material-icons">chevron_right</i>
            </a>
            <div class="mdc-expansion-panel" id="sample-page-submenu">
              <div class="mdc-list-item mdc-drawer-item mdc-top-app-bar">   
                <form class="search">
                <div class="a-field search__field">
                <input type="text" class="r-text-field" placeholder="Search..">      
                </div>
                </form>
                </div>
              <nav class="mdc-list mdc-drawer-submenu">
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 1
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 2
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 3
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 4
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 5
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 6
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 7
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 8
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 9
                  </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                  <a class="mdc-drawer-link" href="#">
                   Course - 10
                  </a>
                </div>
               
              </nav>
            </div>
          </div>
        </nav>
      </div> 
    </div>
  </aside>