<div class="body-wrapper"> 
  <!-- partial:../../partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header"> <a class="brand-logo">  
     <img src="../assets/images/logo-2.png" alt="logo"> 
      </a> </div>
    <div class="mdc-drawer__content">
      <div class="mdc-list-group">
        <nav class="mdc-list mdc-drawer-menu">
          <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard" title="List View"> <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Dashboard </a> </div>
      <!-- <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/course"> <span class="material-icons">import_contacts</span> &nbsp; My Course</a> </div> -->
      <!-- <div class="mdc-list-item mdc-drawer-item"> <a class="mdc-drawer-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/assessment">< span class="material-icons">playlist_add_check</span> &nbsp; Assessment</a> </div> -->
      
        </nav>
      </div>
    </div>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content"> 
    <!-- partial:../../partials/_navbar.html -->
    <app-header></app-header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
          <main class="content-wrapper faq">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
             
                <div class="mdc-layout-grid__cell--span-12">
                  <!-- <div class="accordian">
                  <div class="accordian-item"> -->
                      <!-- <div class="accordian-item-header" (click)="accordian(questions = !questions)">
                      <h3 class="panel-title">Add Questions</h3>
                      </div> -->
                      <button class="accordion">Add Questions</button>
                      <div class="panel">
                      <!-- <div class="accordian-item-body"> -->
                      <div class="accordian-item-body-content">
                      <div class="mdc-layout-grid__inner">
                        <form class="form1" [formGroup]="questionForm"  (ngSubmit)="addQuestions()" autocomplete="off">
                          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-9">
                            <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                              <mat-label>Question</mat-label>
                              <input matInput class="input" placeholder="Question" formControlName="question" [ngClass]="{ 'is-invalid': f.submitted && question.invalid }">
                            </mat-form-field>
                            <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                              <div class="valid" *ngIf="f.question.errors.required">Question is required</div>
                          </div>
                          </div>
                          <div class="mdc-layout-grid__cell--span-3 pt-2">
                              <div class="d-flex justify-content-end">
                              <div class="file-input">
                              <input type="file" (change)="selectimage($event, 'question')" formControlName="questionImage">
                            <span class="mdc-button mdc-button--raised filled-button--dark mdc-ripple-upgraded"> <i class="material-icons mdc-button__icon">add</i> Add File</span>
                              <label class="label" data-js-label>{{questionImg.name}}</label>
                              </div>     
                              </div>
                          </div>              
                          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                              <button class="mdc-button text-button--info"> Save</button>
                          </div>
                        </form>
                      <!-- </div>
                      </div> -->
                      <!-- </div> -->
                      </div>
                  </div>
                      </div>
                  <button class="accordion">Add Answers</button>
                  <div class="panel">
                  <!-- <div class="accordian-item"> -->
                      <!-- <div class="accordian-item-header" (click)="accordian(answers = !answers)">
                      <h3 class="panel-title">Add Answers</h3>
                      </div> -->
                      <!-- <div class="accordian-item-body" > -->
                      <div class="accordian-item-body-content">
                        <div class="mdc-layout-grid__inner">
                          <form class="form1" [formGroup]="answerForm" (ngSubmit)= "addAnswers()"autocomplete="off">
                          <div class="mdc-layout-grid__cell--span-7">
                              <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                                  <mat-label>Answer</mat-label>
                                  <input matInput class="input" maxlength="20" placeholder="Answer"
                                  formControlName="answer1">
                                </mat-form-field>
                                
                                <!-- <div *ngIf="submitted && f.answer1.errors" class="invalid-feedback">
                                  <div class="valid" *ngIf="f.answer1.errors.required">Answer1 is required</div>
                              </div> -->
                          </div>
                          <div class="mdc-layout-grid__cell--span-1">
                             <div class="mdc-radio">
                                  <mat-radio-button value="Y" (click)="isCorrectAns('answer1')"></mat-radio-button>
                          </div>
                          </div>
                          <div class="mdc-layout-grid__cell--span-4 pt-2">
                              <div class="d-flex justify-content-end">
                                <div class="file-input">
                                  <input type="file" (change)="selectimage($event, 'answer1')" formControlName="answerImage1">
                                <span class="mdc-button mdc-button--raised filled-button--dark mdc-ripple-upgraded"> <i class="material-icons mdc-button__icon">add</i> Add File</span>
                                  <label class="label" data-js-label>{{answerImg1.name}}</label>
                                  </div>       
                              </div>
                          </div>
                          <div class="mdc-layout-grid__cell--span-7">
                              <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                                  <mat-label>Answer</mat-label>
                                  <input matInput class="input" maxlength="20" placeholder="Answer"
                                  formControlName="answer2" [ngClass]="{ 'is-invalid': f.submitted && answer2.invalid }">
                                </mat-form-field>
                                <!-- <div *ngIf="submitted && f.answer2.errors" class="invalid-feedback">
                                  <div class="valid" *ngIf="f.answer2.errors.required">Answer2 is required</div>
                              </div> -->
                          </div>
                          <div class="mdc-layout-grid__cell--span-1">
                            <div class="mdc-radio">
                               <mat-radio-button value="2" (click)="isCorrectAns('answer2')"></mat-radio-button> 
                           </div>
                          </div>
                          <div class="mdc-layout-grid__cell--span-4 pt-2">
                              <div class="d-flex justify-content-end">
                                <div class="file-input">
                                  <input type="file" (change)="selectimage($event, 'answer2')" formControlName="answerImage2">
                                <span class="mdc-button mdc-button--raised filled-button--dark mdc-ripple-upgraded"> <i class="material-icons mdc-button__icon">add</i> Add File</span>
                                  <label class="label" data-js-label>{{answerImg2.name}}</label>
                                  </div>     
                              </div>
                          </div>
                          <div class="mdc-layout-grid__cell--span-7">
                              <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                                  <mat-label>Answer</mat-label>
                                  <input matInput class="input" maxlength="20" placeholder="Answer"
                                  formControlName="answer3" [ngClass]="{ 'is-invalid': f.submitted && answer3.invalid }">
                                </mat-form-field>
                                <!-- <div *ngIf="submitted && f.answer3.errors" class="invalid-feedback">
                                  <div class="valid" *ngIf="f.answer3.errors.required">Answer3 is required</div>
                              </div> -->
                          </div>
                          <div class="mdc-layout-grid__cell--span-1">
                            <div class="mdc-radio">
                               <mat-radio-button  value="3" (click)="isCorrectAns('answer3')"></mat-radio-button>  
                           </div>
                          </div>
                          <div class="mdc-layout-grid__cell--span-4 pt-2">
                              <div class="d-flex justify-content-end">
                                <div class="file-input">
                                  <input type="file" (change)="selectimage($event, 'answer3')" formControlName="answerImage3">
                                <span class="mdc-button mdc-button--raised filled-button--dark mdc-ripple-upgraded"> <i class="material-icons mdc-button__icon">add</i> Add File</span>
                                  <label class="label" data-js-label>{{answerImg3.name}}</label>
                                  </div>        
                              </div>
                          </div>
                          <div class="mdc-layout-grid__cell--span-7">
                              <mat-form-field class="mdc-text-field mdc-text-field--textarea mdc-text-field--outlined" appearance="outline">
                                  <mat-label>Answer</mat-label>
                                  <input matInput class="input" maxlength="20" placeholder="Answer"
                                  formControlName="answer4" [ngClass]="{ 'is-invalid': f.submitted && answer4.invalid }">
                                </mat-form-field>
                                <!-- <div *ngIf="submitted && f.answer4.errors" class="invalid-feedback">
                                  <div class="valid" *ngIf="f.answer4.errors.required">answer4 is required</div>
                              </div> -->
                          </div>
                          <div class="mdc-layout-grid__cell--span-1">
                            <div class="mdc-radio">
                               <mat-radio-button value="Y" (click)="isCorrectAns('answer4')"></mat-radio-button>
                           </div>
                          </div>
                      <div class="mdc-layout-grid__cell--span-4 pt-2">
                          <div class="d-flex justify-content-end">
                            <div class="file-input">
                              <input type="file" (change)="selectimage($event, 'answer4')" formControlName="answerImage4">
                            <span class="mdc-button mdc-button--raised filled-button--dark mdc-ripple-upgraded"> <i class="material-icons mdc-button__icon">add</i> Add File</span>
                              <label class="label" data-js-label>{{answerImg4.name}}</label>
                              </div>         
                          </div>
                      </div>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <button class="mdc-button text-button--info"> Save</button>
                      </div>
                    </form>
                    </div>
                  </div>
                  <!-- </div> -->
              </div>
                                 
                                  
              </div>
          </div>
          </div>
          <!-- </div> -->
      </main>
      </div>
  </div>
</div>
 