.accordian-item-body-content {
    padding: 1rem;
    line-height: 1.5;
    border-top:none;
    background-color: #fff;
}
.accordian-item {
    background-color: #fbfbfb;
    margin: 0;
}

.form1 {
    display: contents;
}

.accordion {
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    border: none;
    text-align: left;
    border-radius: 8px;
    font-size: 15px;
    min-height: 3rem;
	line-height: 1.25rem;
  }
  
  .active, .accordion:hover {
    background-color: #eee;
  }
  
  .accordion:after {
    content: '\002B';
    color: #00bbdd;
    font-weight: bold;
    float: right;
    font-size: 1.5rem;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color:white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.form1 {
    display: contents;
}