<div class="body-wrapper"> 
    <!-- partial:../../partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <div class="mdc-drawer__header">
        <a routerLink="/myCourses" class="brand-logo"> LMS
     <img src="../assets/images/logo-2.png" alt="logo">
        </a>
      </div>
      <div class="mdc-drawer__content">
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
           <div class="mdc-list-item mdc-drawer-item">
            <a class="mdc-drawer-link" routerLink="/myCourses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              My Courses  
           </a>
            </div>      
            <div class="mdc-list-item mdc-drawer-item sidebartopbdr mt-4">
              <a class="mdc-expansion-panel-link" onclick="toggle_visibility('sample-page-submenu');">
               <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">feedback</i>
              Other Courses
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="sample-page-submenu">
                <!-- <div class="mdc-list-item mdc-drawer-item mdc-top-app-bar">   
                  <form class="search">
                  <div class="a-field search__field">
                  <input type="text" class="r-text-field" placeholder="Search..">      
                  </div>
                  </form>
                  </div> -->
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" routerLink="/otherCourse">
                     Course - 1
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" >
                     Course - 2
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" >
                     Course - 3
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" >
                     Course - 4
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" >
                     Course - 5
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" >
                     Course - 6
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" >
                     Course - 7
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" >
                     Course - 8
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" >
                     Course - 9
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" >
                     Course - 10
                    </a>
                  </div>
                 
                </nav>
              </div>
            </div>
          </nav>
        </div> 
      </div>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content"> 
      <!-- partial:../../partials/_navbar.html -->
      <app-userheader></app-userheader>
        <!-- partial -->
        <div class="page-wrapper mdc-toolbar-fixed-adjust">
            <main class="content-wrapper faq">
              <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell--span-12">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <div class="pull-leftactivity">
                          <h3 class="panel-title">Test</h3>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="mdc-layout-grid__inner">
                          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                            <div class="form-group testheading">
                              <label>Test Name:</label>
                              <span id="" class="testname"> &nbsp;Hibernate</span> </div>
                          </div>
                          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                            <div class="form-group testheading">
                              <label>Author:</label>
                              <span id="" class="testname"> &nbsp;George Kalajian</span> </div>
                          </div>
                          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                            <div class="form-group testheading">
                              <label>Created on:</label>
                              <span id="" class="testname"> &nbsp;06/19/2020</span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mdc-layout-grid__cell--span-12">
                    <div class="panel panel-success">
                      <div class="panel-heading" style="height: 24px;">
                        <div class="pull-left">
                          <h3 class="panel-title">Qyestions/Answers</h3>
                        </div>
                        <div class="pull-right">
                          <div class="d-flex justify-content-end"> <a class="mdc-button mdc-button--raised icon-button shaped-button filled-button--light lightbtn-cion add-qustionpls"> <i class="material-icons mdc-button__icon">add</i> </a> </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="mdc-layout-grid__inner">
                          <div class="mdc-layout-grid__cell--span-12">
                            <div class="table-responsive-lg tabletests">
                              <table class="table table-hoverable table-q">
                                <tr class="header-ans">
                                  <th class="text-center" style="width: 60px; height:50px;">SN.</th>
                                  <th colspan="2" style="text-align: left;">Questions</th>
                                  <th class="text-right" style="width: 100px;">Action</th>
                                </tr>
                                <tr class="header-ans">
                                  <td class="text-center">1</td>
                                  <td colspan="2" class="plus-coll"><span class="qust-cl"> What are the features of JAVA?</span></td>
                                 <td class="text-right">
                                 <div class="menu-button-container">
                                <button [matMenuTriggerFor]="menu" class="mdc-button mdc-menu-button icon-button shaped-button secondary-filled-button">
                                  <span class="material-icons">more_vert</span>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item class="btn">
                                      <span>Edit</span>
                                    </button>
                                    <button mat-menu-item class="btn">
                                      <span>Edit</span>
                                    </button>
                                 </mat-menu>
                              </div>
                              </td>
                                </tr>
                                <tr style="background-color: #f9f9f9;">
                                  <td></td>
                                  <td> A) Object-oriented</td>
                                  <td>C) Inheritance</td>
                                  <td></td>
                                </tr>
                                <tr style="background-color: #f9f9f9;">
                                  <td></td>
                                  <td>B) Encapsulation</td>
                                  <td>D) Polymorphism</td>
                                  <td></td>
                                </tr>
                                <tr class="header-ans">
                                  <td class="text-center">2</td>
                                  <td colspan="2" class="plus-coll"><span class="qust-cl">What are the OOPs concepts?</span></td>
                                  <td class="text-right">
                                 <div class="menu-button-container">
                                <button [matMenuTriggerFor]="menu1" class="mdc-button mdc-menu-button icon-button shaped-button secondary-filled-button">
                                  <span class="material-icons">more_vert</span>
                                </button>
                                <mat-menu #menu1="matMenu" xPosition="before">
                                    <button mat-menu-item class="btn">
                                      <span>Edit</span>
                                    </button>
                                    <button mat-menu-item class="btn">
                                      <span>Edit</span>
                                    </button>
                                </mat-menu>
                              </div>
                              </td>
                                </tr>
                              
                                <tr style="background-color: #f9f9f9;">
                                  <td></td>
                                  <td>A) Inheritance</td>
                                  <td>C) Encapsulation</td>
                                  <td></td>
                                </tr>
                                <tr style="background-color: #f9f9f9;">
                                  <td></td>
                                  <td>B) Polymorphism</td>
                                  <td>D) Interface</td>
                                  <td></td>
                                </tr>
                                
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
    </div>
</div>
   